/*--------------------------------------------------------------
>> TABLE OF CONTENTS:
----------------------------------------------------------------
01. Color Variable
02. Typography
03. Spacing
04. General
05. Header
06. Footer
07. preloader
08. Video Modal
09. Slider
10. About
11. Accordian
12. Hero
13. Cards
14. CTA Component
15. Contact
16. Iconbox
17. Posts and Post Details
18. Pricing
19. Team and Team Details
20. Testimonials
21. layer Image
--------------------------------------------------------------*/

@import "default/variable";
@import "default/typhography";
@import "common/spacing";
@import "common/general";
@import "common/header";
@import "common/footer";
@import "common/preloader";
@import "common/video-modal";
@import "common/slider";
@import "common/hero";
@import "shortcode/about";
@import "shortcode/accordian";
@import "shortcode/hero";
@import "shortcode/cards";
@import "shortcode/cta";
@import "shortcode/contact";
@import "shortcode/iconbox";
@import "shortcode/post";
@import "shortcode/products";
@import "shortcode/testimonial";
@import "shortcode/layer-img";
@import "shortcode/instagram";
@import "shortcode/video_block";
@import "shortcode/before_after";
@import "shortcode/counter";
@import "shortcode/gallery";
@import "shortcode/gym";
@import "shortcode/burger";
@import "shortcode/custom_slider";
@import "shortcode/beauty_product";
