/*==============================================================
  01. Variables
================================================================*/
:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #1C274C;
  --secondary-color: #666;
  --accent-color: #B113C0;
  --gray-color1: #F3F9FF;
  --gray-color2: #F6F1FD;
  --primary-font: "Fahkwang", sans-serif;
  --secondary-font: "Fahkwang", sans-serif;
}

.cs_version2 {
  --accent-color: #007AFF;
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Inter", sans-serif;
}

.cs_version3 {
  --accent-color: #FE6806;
  --primary-font: "Orienta", sans-serif;
  --secondary-font: "Inter", sans-serif;
}

.cs_version4 {
  --accent-color: #E624B0;
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Inter", sans-serif;
}

.cs_version5 {
  --accent-color: #8CFE64;
  --primary-font: "Inria Sans", sans-serif;
  --secondary-font: "Inter", sans-serif;
}

.cs_version6 {
  --accent-color: #0095F6;
  --primary-font: "Albert Sans", sans-serif;
  --secondary-font: "Albert Sans", sans-serif;
}

.cs_version7 {
  --accent-color: #FB9015;
  --primary-font: "Barlow", sans-serif;
  --secondary-font: "Inter", sans-serif;
}

.cs_version8 {
  --accent-color: #36ADF0;
  --primary-font: "Bricolage Grotesque", sans-serif;
  --secondary-font: "Inter", sans-serif;
}

.cs_version9 {
  --accent-color: #6E55D5;
  --primary-font: "Fahkwang", sans-serif;
  --secondary-font: "Fahkwang", sans-serif;
}

.cs_version10 {
  --accent-color: #7EC891;
  --primary-font: "Fraunces", sans-serif;
  --secondary-font: "Inter", sans-serif;
}