/*==============================================================
 06. All Footer
================================================================*/
.cs_social_icons {
  display: flex;
  gap: 10px;

  .cs_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color);
    transition: all 0.3s ease;
  }
}

.cs_contact_widget {
  li {
    position: relative;

    span {
      position: absolute;
      top: 2px;
      color: var(--accent-color);
    }

    div {
      padding-left: 36px;
    }
  }
}

.cs_footer_row {
  display: flex;
  gap: 40px 85px;
}

.cs_footer_bottom {
  .cs_footer_bottom_in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px 40px;
    padding: 28px 0;
    flex-wrap: wrap;
  }

  .cs_footer_widget_menu {
    display: flex;
    gap: 30px;
    align-items: center;

    li {
      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
  }

  a {
    &:hover {
      color: var(--accent-color);
    }
  }
}

.cs_footer_newsletter {
  form {
    width: 88%;
  }

  input {
    background: transparent;
    width: 100%;
    height: 60px;
    border-radius: 999px;
    border: 1px solid var(--Gray-800, #616670);
    outline: none;
    color: var(--white-color);
    padding-left: 20px;

    &:focus {
      border-color: var(--white-color);
    }

    &::placeholder {
      font-size: 20px;
      opacity: 0.5;
    }
  }

  .cs_btn_style_1 {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 999px;
    padding: 0;
  }
}

.cs_footer_widget_menu,
.cs_footer_bottom_in {
  a {
    &:hover {
      color: var(--accent-color);
    }
  }
}

.cs_footer_style_1 {
  background-color: #121212;

  .cs_footer_col {
    flex: 1;

    &:first-child {
      flex: 1.7;
    }

    &:nth-child(3) {
      flex: 1.2;
    }

    &:last-child {
      flex: 1.6;
    }
  }

  .cs_footer_text_widget {
    p {
      margin: 30px 0;
      opacity: 0.7;
    }
  }

  .cs_footer_widget_menu {
    li {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  .cs_footer_bottom_in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px 40px;
    flex-wrap: wrap;
    padding: 20px 0;
    opacity: 0.7;
    border-top: 1px solid rgba(255, 255, 255, 1);
  }

  @media (max-width: 1399px) {
    .cs_footer_row {
      gap: 60px;
    }
  }

  @media (max-width: 1199px) {
    .cs_footer_row {
      flex-wrap: wrap;
      gap: 60px 40px;
    }

    .cs_footer_col {
      &:first-child {
        width: calc(100% - 40px);
        flex: none !important;
      }

      &:nth-child(3) {
        flex: 1.2;
      }
    }

    .cs_footer_newsletter {
      input {
        width: 100%;
        flex: initial;
      }
    }
  }

  @media (max-width: 991px) {
    .cs_footer_col {
      &:nth-child(3) {
        flex: 1.5;
      }
    }
  }

  @media (max-width: 768px) {
    .cs_footer_col {
      width: calc(100% - 40px);
      flex: none !important;
    }
  }
}

.cs_footer_style_2 {
  background-color: #121212;

  .cs_footer_row {
    display: flex;
    gap: 40px 85px;
  }

  .cs_footer_col {
    flex: 1;

    &:first-child {
      flex: 1.2;
    }

    &:nth-child(4) {
      flex: 2.2;
    }
  }

  .cs_footer_newsletter {
    input {
      background: var(--white-color);
      width: 300px;
      height: 60px;
      border-radius: 5px;
      border: 1px solid var(--Gray-800, #616670);
      outline: none;
      color: var(--primary-color);
      padding-left: 20px;

      &:focus {
        border-color: var(--white-color);
      }

      &::placeholder {
        font-size: 20px;
        color: #696969;
      }
    }

    .cs_btn_style_1 {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 46px;
      height: 46px;
      border-radius: 5px;
      padding: 0;
    }
  }

  .cs_footer_text_widget {
    p {
      margin: 30px 0;
      opacity: 0.7;
    }
  }

  .cs_footer_widget_menu {
    li {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    // a {
    //   &:hover {
    //     color: var(--accent-color);
    //   }
    // }
  }

  .cs_contact_widget {
    li {
      position: relative;

      span {
        position: absolute;
        top: 2px;
        color: var(--accent-color);
      }

      div {
        padding-left: 36px;
      }
    }
  }

  .cs_footer_bottom {
    background-color: var(--accent-color);

    .cs_footer_bottom_in {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px 40px;
      padding: 28px 0;
      flex-wrap: wrap;

      a {
        &:hover {
          opacity: 0.75;
          color: var(--white-color);
        }
      }
    }

    .cs_footer_widget_menu {
      display: flex;
      gap: 30px;
      align-items: center;

      li {
        &:not(:last-child) {
          margin-bottom: 0px;
        }
      }
    }
  }

  @media (max-width: 1399px) {
    .cs_footer_row {
      gap: 60px;
    }
  }

  @media (max-width: 1199px) {
    .cs_footer_row {
      flex-wrap: wrap;
      gap: 50px 40px;
    }

    .cs_footer_col {
      &:first-child {
        width: calc(100% - 40px);
        flex: none !important;
      }

      &:nth-child(3) {
        flex: 1.2;
      }
    }

    .cs_footer_newsletter {
      input {
        width: 100%;
        flex: initial;
      }
    }
  }

  @media (max-width: 991px) {
    .cs_footer_col {
      &:nth-child(3) {
        flex: 1.5;
      }
    }
  }

  @media (max-width: 768px) {
    .cs_footer_col {
      width: calc(100% - 40px);
      flex: none !important;
    }
  }
}

.cs_footer_style_3 {
  background: #fafafa;

  input {
    display: block;
    margin: 0 auto 40px;
    padding: 20px;
    width: min(1041px, 100%);
    border-radius: 7px;
    background: #f0f0f0;
    outline: none;
    border: none;

    &::placeholder {
      text-align: center;
      color: #707070;
    }
  }

  button {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #d7d7d7;
    padding: 12px 45px;
    margin: 0 auto;
    color: #282d33;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--accent-color);
      color: var(--white-color);
    }
  }

  .cs_social_icons {
    .cs_icon {
      &:hover {
        background-color: var(--white-color);
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
      }
    }
  }

  .cs_footer_main {
    min-height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .cs_footer_logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .cs_footer_widget {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px 42px;
      flex-wrap: wrap;
    }

    a {
      font-size: 20px;
      color: #000;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  .cs_footer_bottom {
    padding: 47px 0 40px;
    border-top: 1px solid var(--border-color);
  }

  @media (max-width: 1199px) {
    .cs_footer_widget {
      ul {
        gap: 15px 24px;
      }

    }
  }

  @media (max-width: 991px) {
    .cs_footer_main {
      flex-direction: column;
      gap: 30px;
    }

    .cs_footer_logo {
      position: initial;
      transform: translateX(0);
    }
  }
}

.cs_footer_style_4 {
  .cs_footer_background {
    background-color: #001726;
    padding-top: 390px;
  }

  .cs_newslatter {
    background: linear-gradient(96deg, #e026b2 0%, #007aff 100%);
    padding: 80px 0;
    width: min(1290px, 100%);
    border-radius: 15px;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -315px;

    .cs_newlatter_tittle {
      letter-spacing: -1.44px;
      width: min(100%, 405px);
    }

    .shape_1 {
      left: 190px;
      top: -44px;
    }

    .shape_2 {
      right: 190px;
      top: -44px;
    }

    .cs_newslatter_input {
      display: flex;
      justify-content: center;
      gap: 10px;

      input {
        padding: 15px 25px;
        width: min(495px, 100%);
        border-radius: 8px;
        outline: none;
        border: none;
      }

      .cs_btn_style_2 {
        padding: 15px 45px;
        border: 1px solid var(--white-color);
        background: transparent;
        font-size: 18px;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        &:hover {
          background: var(--white-color);
          color: var(--accent-color);
        }

        &::after,
        &::before {
          display: none;
        }
      }
    }
  }

  .cs_footer_col {
    flex: 1;

    &:first-child {
      flex: 3.2;
    }
  }

  .cs_footer_text_widget {
    p {
      opacity: 0.45;
    }
  }

  .cs_footer_widget {
    .cs_footer_widget_menu {
      li {
        &:not(:last-child) {
          padding-bottom: 12px;
        }
      }

      a {
        opacity: 0.45;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .cs_social_icons {
    display: flex;
    gap: 10px;

    a {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #104363;
      border-radius: 50%;

      &:hover {
        background-color: #007aff;
      }
    }
  }

  .cs_footer_bottom {
    background-color: #00131f;

    .cs_name {
      color: #007aff;
      transition: all 0.3s ease;

      &:hover {
        color: var(--accent-color);
      }
    }

    .cs_footer_widget_menu {
      a {
        opacity: 0.55;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .cs_3d_1 {
    left: 66px;
    bottom: 105px;
    z-index: 2;
    animation: animo-y2 22s linear infinite;
  }

  .cs_3d_2 {
    top: 150px;
    right: 106px;
    z-index: 2;
    animation: animo-y2 22s linear infinite;
  }

  @media (max-width: 1400px) {
    .cs_newslatter {
      .shape_1 {
        left: 12%;
      }

      .shape_2 {
        right: 12%;
      }
    }

    .cs_footer_row {
      flex-wrap: wrap;
    }

    .cs_3d_1 {
      display: none;
    }

    .cs_3d_2 {
      display: none;
    }
  }

  @media (max-width: 1199px) {
    .cs_newslatter {
      .shape_1 {
        left: 6%;
      }

      .shape_2 {
        right: 6%;
      }
    }

    .cs_footer_row {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 992px) {
    .cs_newslatter {

      .shape_1,
      .shape_2 {
        display: none;
      }
    }
  }

  @media (max-width: 557px) {
    .cs_newslatter {
      .cs_newslatter_input {
        flex-wrap: wrap;

        input {
          width: 100%;
        }

        .cs_btn_style_2 {
          width: 100%;
        }
      }
    }
  }
}

.cs_footer_style_5 {
  .cs_newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px 50px;
    flex-wrap: wrap;

    form {
      width: min(100%, 508px);
      flex: 1 1 300px;
    }

    input {
      padding: 20px 34px;
      outline: none;
      width: 100%;
    }

    .cs_submit_button {
      padding: 9px 10px;
      background: #121212;
      border-radius: 4px;
      color: var(--white-color);
      position: absolute;
      right: 11px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .cs_newsletter_wrapper {
    border-bottom: 1px solid #2d2929;
    padding-bottom: 45px;
  }

  .cs_footer_col {
    flex: 1;

    &:first-child {
      flex: 1.5;
    }
  }

  .cs_footer_widget_menu {
    li a {
      position: relative;
      left: 24px;

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 14px solid var(--accent-color);
        left: -24px;
        top: 1px;
      }

      &:hover {
        color: var(--accent-color);
      }
    }

    li {
      &:not(:last-child) {
        padding-bottom: 21px;
      }
    }
  }

  .cs_contact_widget {
    li a {
      left: 0;
      display: block;

      &::before {
        content: none;
      }
    }
  }

  .cs_footer_widget_title {
    position: relative;

    &::before {
      content: "";
      width: 44%;
      height: 1px;
      background: #3d3d3d;
      position: absolute;
      bottom: -20px;
    }
  }

  .cs_footer_bottom {
    padding: 27px 0 35px;
    border-top: 1px solid #fff;
  }

  .cs_social_icons {
    .cs_icon {
      background-color: #5c5c5c;
      color: var(--accent-color);

      &:hover {
        background-color: var(--accent-color);
        color: var(--white-color);
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_footer_row {
      gap: 40px;
    }
  }

  @media (max-width: 991px) {
    .cs_footer_row {
      flex-wrap: wrap;
    }

    .cs_footer_col {
      &:first-child {
        flex: none;
        width: calc(100% - 40px);
      }
    }
  }

  @media (max-width: 776px) {
    .cs_footer_col {
      flex: none;
      width: calc(100% - 40px);
    }

    .cs_contact_widget {
      li {
        &:not(:last-child) {
          padding-bottom: 0;
        }
      }
    }
  }
}

.cs_footer_style_6 {
  position: relative;
  background-color: #151f39;
  padding-top: 1px;
  margin-top: 100px;

  .cs_newslatter {
    margin-top: -100px;
    background: var(--accent-color);
    padding: 40px 70px 40px 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;

    .cs_newslatter_input {
      width: min(507px, 100%);

      input {
        padding: 22px 25px;
        width: 100%;
        border-radius: 16px;
        outline: none;
        border: none;
      }
    }

    .cs_btn_style_2 {
      position: absolute;
      right: 10px;
      top: 6px;
      padding: 15px 25px;
      border: 1px solid var(--white-color);
      background: #151f39;
      border-radius: 12px;
      font-size: 15px;
      font-weight: 600;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;

      span {
        display: flex;
        align-items: center;
        gap: 7px;

        i {
          transform: rotate(-45deg);
        }
      }

      &:hover {
        background: var(--accent-color);
        color: var(--white-color);
      }

      &::after,
      &::before {
        display: none;
      }
    }
  }

  .cs_footer_col {
    flex: 1;

    &:first-child {
      flex: 2.2;
    }

    &:last-child {
      flex: 2.2;
    }
  }

  .cs_footer_text_widget {
    p {
      opacity: 0.45;
    }
  }

  .cs_footer_widget {
    .cs_footer_widget_menu {
      li {
        &:not(:last-child) {
          padding-bottom: 12px;
        }

        opacity: 0.45;

        &:hover {
          opacity: 1;
        }
      }

      a {
        &:hover {
          color: var(--white-color);
        }
      }
    }
  }

  .cs_contact_widget {
    li {
      position: relative;

      span {
        position: absolute;
        top: 2px;
        left: 0;
      }

      div {
        padding-left: 36px;
      }
    }
  }

  .cs_icon {
    background-color: #273557;
    color: #7e91c3;

    &:hover {
      background-color: var(--accent-color);
      color: var(--white-color);
    }
  }

  .cs_footer_bottom {
    background-color: #00131f;

    .cs_copyright {
      opacity: 0.45;
    }

    .cs_footer_widget_menu {
      li>a {
        opacity: 0.45;

        &:hover {
          color: var(--white-color);
          opacity: 1;
        }
      }
    }
  }

  @media (max-width: 1400px) {
    .cs_newslatter {
      .shape_1 {
        left: 12%;
      }

      .shape_2 {
        right: 12%;
      }
    }

    .cs_footer_row {
      flex-wrap: wrap;
    }

    .cs_3d_1 {
      display: none;
    }

    .cs_3d_2 {
      display: none;
    }
  }

  @media (max-width: 1199px) {
    .cs_newslatter {
      .shape_1 {
        left: 6%;
      }

      .shape_2 {
        right: 6%;
      }
    }

    .cs_footer_row {
      gap: 40px;
      flex-wrap: wrap;
    }

    .cs_footer_col {
      &:first-child {
        flex: none;
        width: calc(100% - 40px);
      }

      &:last-child {
        flex: none;
        width: calc(100% - 40px);
      }
    }
  }

  @media (max-width: 992px) {
    .cs_newslatter {

      .shape_1,
      .shape_2 {
        display: none;
      }
    }
  }

  @media (max-width: 575px) {
    .cs_newslatter {
      .cs_btn_style_2 {
        position: initial;
        width: 100%;
        margin-top: 20px;
      }
    }

    .cs_footer_col {
      flex: none;
      width: calc(100% - 40px);
      margin: 0 auto;
    }
  }
}

.cs_footer_style_7 {
  .cs_footer_left {
    display: flex;
    gap: min(145px, 100%);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 100px 0 100px;
  }

  .cs_footer_widget_menu {
    li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    a {
      background-repeat: no-repeat;
      background-image: linear-gradient(90deg,
          currentColor 0,
          currentColor 100%);
      transition: background-size 0.42s cubic-bezier(0.49, 0.49, 0.08, 1),
        color 0.27s ease-out;
      background-size: 0 1px;
      background-position: 100% calc(100% - 0px);

      &:hover {
        background-size: 100% 1px;
        background-position: 0 calc(100% - 0px);
      }
    }
  }

  .cs_footer_right {
    padding: 100px 0 100px;
    padding-left: 124px;
  }

  .cs_footer_widget_btn {
    display: flex;
    gap: 25px;
    align-items: center;

    .cs_btn_style_2 {
      background: transparent;
      border: 2px solid var(--white-color);

      span {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &::after,
      &::before {
        background-color: var(--white-color);
        color: var(--accent-color);
        border-radius: 0;
      }
    }
  }

  .cs_footer_bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    .cs_footer_logo {
      width: 200px;
    }
  }

  @media (max-width: 1199px) {
    .cs_footer_right {
      padding-left: 0;
    }
  }

  @media (max-width: 991px) {
    .cs_footer_left {
      border-right: none;
      padding: 40px 0 10px;
    }

    .cs_footer_right {
      padding: 10px 0 40px;
      padding-left: 0;
    }
  }

  @media (max-width: 575px) {
    .cs_footer_left {
      flex-wrap: wrap;
    }

    .cs_footer_widget_btn {
      flex-direction: column;
      align-items: start;
    }
  }
}

.cs_footer_style_8 {
  position: relative;
  background-color: #151f39;
  padding-top: 1px;

  .cs_shape_1 {
    bottom: 30px;
    left: 54%;
    transform: translateX(-54%);
  }

  &::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 300px;
    background-color: var(--white-color);
    top: -115px;
    left: 50%;
    border-radius: 100% / 100%;
    transform: translateX(-50%);
  }

  .cs_newslatter {
    margin-top: -160px;
    background: var(--accent-color);
    padding: 37px 86px 37px 136px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    .cs_newslatter_headading {
      width: min(500px, 100%);
    }

    .cs_newslatter_input {
      width: min(507px, 100%);

      input {
        padding: 11px 0 12px 16px;
        width: 100%;
        border-radius: 0;
        outline: none;
        border: none;
      }
    }

    .cs_btn_style_2 {
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 11px 10px;
      border: 1px solid var(--primary-color);
      background: #151f39;
      border-radius: 0px;
      font-size: 16px;
      font-weight: 600;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;

      &:hover {
        background: var(--accent-color);
        color: var(--white-color);
      }

      &::after,
      &::before {
        display: none;
      }
    }

    .cs_shape_1 {
      left: 52px;
      bottom: 10px;
    }

    .cs_shape_2 {
      left: 238px;
      bottom: 63px;
    }

    .cs_shape_3 {
      bottom: 163px;
      right: 477px;
    }
  }

  .cs_footer_col {
    flex: 1;

    &:first-child {
      flex: 1.5;
    }
  }

  .cs_footer_widget_menu {
    li a {
      position: relative;
      left: 24px;

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 14px solid var(--accent-color);
        left: -24px;
        top: 1px;
      }

      &:hover {
        color: var(--accent-color);
      }
    }

    li {
      &:not(:last-child) {
        padding-bottom: 21px;
      }
    }
  }

  .cs_contact_widget {
    li a {
      left: 0;
      display: block;

      &::before {
        content: none;
      }
    }
  }

  .cs_footer_widget_title {
    position: relative;

    &::before {
      content: "";
      width: 44%;
      height: 1px;
      background: #3d3d3d;
      position: absolute;
      bottom: -20px;
    }
  }

  .cs_footer_top {
    padding-bottom: 45px;
    border-bottom: 1px solid var(--border-color);

    .cs_footer_top_in {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
    }

    .cs_item {
      display: flex;
      align-items: center;
      gap: 12px;

      a {
        transition: all 0.3s ease;

        &:hover {
          color: var(--accent-color);
        }
      }
    }

    .cs_icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--accent-color);
      color: var(--white-color);
    }
  }

  .cs_footer_bottom {
    padding: 27px 0 35px;
    border-top: 1px solid #fff;
  }

  .cs_social_icons {
    .cs_icon {
      height: 25px;
      width: 25px;
      background-color: var(--accent-color);
      color: var(--white-color);

      &:hover {
        background-color: var(--white-color);
        color: var(--accent-color);
      }
    }
  }

  @media (max-width: 1399px) {
    .cs_newslatter {
      padding: 64px 40px 42px 40px;
    }
  }

  @media (max-width: 1199px) {
    .cs_footer_row {
      gap: 40px;
    }
  }

  @media (max-width: 991px) {
    .cs_newslatter {
      flex-wrap: wrap;
    }

    .cs_footer_row {
      flex-wrap: wrap;
    }

    .cs_footer_col {
      &:first-child {
        flex: none;
        width: calc(100% - 40px);
      }
    }
  }

  @media (max-width: 776px) {
    .cs_footer_col {
      flex: none;
      width: calc(100% - 40px);
    }
  }

  @media (max-width: 575px) {
    .cs_newslatter {
      .cs_btn_style_2 {
        position: initial;
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}

.cs_footer_style_9 {
  background-color: transparent;

  .container {
    max-width: 1600px;
  }

  .cs_footer_row {
    padding-top: 50px;
  }

  .cs_logo {
    width: min(180px, 100%);
  }

  .cs_footer_img {
    img {
      width: 100%;
    }
  }

  .cs_footer_newsletter {
    padding: 70px 60px 40px;
    background-color: var(--black-color);

    .cs_newsletter_bottom {
      padding-top: 30px;
      margin-top: 120px;
      border-top: 1px solid var(--border-color);
    }

    form {
      width: 100%;
    }
  }

  input {
    width: 100%;
    height: 67px;
    padding-left: 50px;
    margin-bottom: 70px;
  }

  .cs_contact_widget {
    div {
      padding-left: 0;
    }
  }

  .cs_arrow_btn {
    width: 108px;
    height: 108px;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-size: 38px;
  }

  .cs_footer_newsletter_wrapper_1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: min(680px, 100%);
  }

  .cs_footer_widget_menu {
    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: 1499px) {
    .cs_footer_row {
      gap: 40px 50px;
    }

    .cs_footer_newsletter_wrapper_1 {
      width: min(570px, 100%);
    }
  }

  @media (max-width: 1299px) {
    .cs_footer_newsletter_wrapper_1 {
      width: min(465px, 100%);
    }

    .cs_footer_newsletter {
      padding: 50px 30px 40px;

      .cs_newsletter_heading {
        font-size: 55px !important;
      }

      .cs_newsletter_bottom {
        margin-top: 50px;
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_footer_row {
      flex-wrap: wrap;
      padding-top: 0;
    }

    .cs_footer_col {
      flex: 1;

      &:nth-child(2) {
        flex: 2;
      }

      &.cs_footer_newsletter_wrapper_1 {
        flex: none;
        width: 100%;
        margin-top: -120px;
      }
    }

    .cs_footer_newsletter_wrapper_1 {
      position: initial;
    }
  }

  @media (max-width: 767px) {
    .cs_footer_col {
      flex: none;
      width: 100%;
    }
  }
}