/*=============================================================
  04. General
===============================================================*/

/*=====================================  
  Classess for Fonts Size  
=======================================*/

.cs_fs_14 {
  font-size: 14px;
  line-height: 1.86em;
}

.cs_fs_16 {
  font-size: 16px;
  line-height: 1.63em;
}

.cs_fs_18 {
  font-size: 18px;
  line-height: 1.67em;

  @media (max-width: 991px) {
    font-size: 16px;
  }
}

.cs_fs_20 {
  font-size: 20px;
  line-height: 1.5em;

  @media (max-width: 575px) {
    font-size: 16px;
  }
}

.cs_fs_22 {
  font-size: 22px;
  line-height: 0.909em;

  @media (max-width: 575px) {
    font-size: 18px;
  }
}
.cs_fs_24 {
  font-size: 24px;
  line-height: normal;

  @media (max-width: 575px) {
  }
}
.cs_fs_26 {
  font-size: 26px;
  line-height: normal;

  @media (max-width: 575px) {
  }
}
.cs_fs_28 {
  font-size: 28px;
  line-height: 1.18em;

  @media (max-width: 991px) {
    font-size: 20px;
  }
}

.cs_fs_30 {
  font-size: 30px;
  line-height: 1.5em;
}

.cs_fs_32 {
  font-size: 32px;
  line-height: 1.3em;
}
.cs_fs_33 {
  font-size: 33px;
  line-height: 1.18em;
}

.cs_fs_40 {
  font-size: 40px;
  line-height: 1.375em;

  @media (max-width: 1199px) {
    font-size: 35px;
  }

  @media (max-width: 991px) {
    font-size: 30px;
  }
}

.cs_fs_45 {
  font-size: 45px;
  line-height: 1.33em;

  @media (max-width: 1199px) {
    font-size: 40px;
  }
}

.cs_fs_48 {
  font-size: 48px;
  line-height: 1.21em;

  @media (max-width: 1199px) {
    font-size: 40px;
  }
}
.cs_fs_50 {
  font-size: 50px;
  line-height: 1.2em;

  @media (max-width: 1199px) {
    font-size: 45px;
  }

  @media (max-width: 991px) {
    font-size: 32px;
  }
}

.cs_fs_55 {
  font-size: 55px;
}
.cs_fs_58 {
  font-size: 58px;
  line-height: 1.17em;

  @media (max-width: 1199px) {
    font-size: 42px;
  }
}

.cs_fs_68 {
  font-size: 66px;
  line-height: 1.235em;
}

.cs_fs_65 {
  font-size: 65px;
  line-height: 1.308em;

  @media (max-width: 1199px) {
    font-size: 45px;
  }

  @media (max-width: 991px) {
    font-size: 32px;
  }
}

.cs_fs_70 {
  font-size: 70px;
  line-height: 1.57143em;

  @media (max-width: 1199px) {
    font-size: 65px;
  }
}
.cs_fs_72 {
  font-size: 70px;
  line-height: 1.194em;
}
.cs_fs_77 {
  font-size: 77px;
  line-height: 1.19em;

  @media (max-width: 1199px) {
    font-size: 65px;
  }
}
.cs_fs_80 {
  font-size: 80px;
  line-height: 1.125em;
}

.cs_fs_100 {
  font-size: 100px;
  line-height: 1.2em;

  @media (max-width: 1299px) {
    font-size: 80px;
  }
  @media (max-width: 1199px) {
    font-size: 70px;
  }
}
.cs_fs_120 {
  font-size: 120px;
  line-height: 1.16667em;

  @media (max-width: 1399px) {
    font-size: 100px;
  }
  @media (max-width: 1199px) {
    font-size: 80px;
  }
  @media (max-width: 768px) {
    font-size: 60px;
  }
}

/*=====================================  
  Classess for Fonts Weight
=======================================*/
.cs_light {
  font-weight: 300;
}

.cs_normal {
  font-weight: 400;
}

.cs_medium {
  font-weight: 500;
}

.cs_semibold {
  font-weight: 600;
}

.cs_bold {
  font-weight: 700;
}

.cs_extrabold {
  font-weight: 800;
}

.cs_black {
  font-weight: 900;
}

/*=====================================  
  Classess for Fonts Color
=======================================*/

.cs_primary_color {
  color: var(--primary-color);
}

.cs_accent_color {
  color: var(--accent-color);
}

.cs_blue_dark {
  color: var(--dark-blue);
}

.cs_blue_light {
  color: var(--light-blue);
}

.cs_blue_lightest {
  color: var(--lightest-blue);
}

.cs_secondary_color {
  color: var(--secondary-color);
}

.cs_white_color {
  color: var(--white-color);
}

.cs_gray_color1 {
  color: var(--gray-color1);
}

.cs_gray_color2 {
  color: var(--gray-color2);
}

.cs_gray_color3 {
  color: var(--gray-color3);
}

.cs_black_color {
  color: var(--black-color);
}

/*=====================================  
  Classess for Fonts Family 
=======================================*/
.cs_primary_font {
  font-family: var(--primary-font);
}

.cs_secondary_font {
  font-family: var(--secondary-font);
}

/*=============================================  
  Classess for Background Size & Colors
===============================================*/
.cs_accent_bg {
  background-color: var(--accent-color);
}

.cs_blue_bg1 {
  background-color: var(--dark-blue);
}

.cs_blue_bg2 {
  background-color: var(--light-blue);
}

.cs_blue_bg3 {
  background-color: var(--lightest-blue);
}

.cs_primary_bg {
  background-color: var(--primary-color);
}

.cs_secondary_bg {
  background-color: var(--secondary-color);
}

.cs_gray_bg1 {
  background-color: var(--gray-color1);
}

.cs_gray_bg2 {
  background-color: var(--gray-color2);
}

.cs_gray_bg3 {
  background-color: var(--gray-color3);
}
.cs_gray_bg4 {
  background-color: var(--gray-color4);
}
.cs_gray_bg6 {
  background-color: var(--gray-color6);
}

.cs_white_bg {
  background-color: var(--white-color);
}

.cs_black_bg {
  background-color: var(--black-color);
}

.cs_bg_filed {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cs_bg_fixed {
  background-attachment: fixed;
}

/*=============================================  
  Classess for Border Radius
===============================================*/
.cs_radius_5 {
  border-radius: 5px;
}

.cs_radius_8 {
  border-radius: 8px;
}

.cs_radius_10 {
  border-radius: 10px;
}

.cs_radius_12 {
  border-radius: 12px;
}

.cs_radius_16 {
  border-radius: 16px;
}

.cs_radius_20 {
  border-radius: 20px;
}

.cs_radius_25 {
  border-radius: 25px;
}

.cs_radius_50 {
  border-radius: 50px;
}

.cs_radius_100 {
  border-radius: 50%;
}

/*=============================================  
  Classess for Utility Components
===============================================*/
.cs_mp_0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cs_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs_center_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*=======================================================
 All Buttons
=========================================================*/
.cs_btn_style_1 {
  display: inline-flex;
  padding: 13px 42px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  text-wrap: nowrap;
  border: 0;
  outline: 0;
  font-family: var(--primary-font);
  color: var(--white-color);
  background-color: var(--accent-color);
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    width: 50%;
    height: 100%;
    border-radius: 32px;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    transition: transform 0.4s ease;
  }

  &::before {
    left: 0;
    border-radius: 32px 0 0 32px;
    transform: scale(0, 1);
    transform-origin: bottom left;
  }

  &::after {
    right: 0;
    border-radius: 0 32px 32px 0;
    transform: scale(0, 1);
    transform-origin: top right;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &:hover {
    color: var(--accent-color);
    background-color: transparent;

    &::before,
    &::after {
      transform: scale(1, 1);
    }
  }
}
.cs_btn_style_2 {
  display: inline-flex;
  padding: 17px 42px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 7px;
  text-wrap: nowrap;
  border: 0;
  outline: 0;
  font-family: var(--primary-font);
  color: var(--white-color);
  background-color: var(--accent-color);
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    width: 50%;
    height: 100%;
    border-radius: 32px;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    transition: transform 0.4s ease;
  }

  &::before {
    left: 0;
    border-radius: 32px 0 0 32px;
    transform: scale(0, 1);
    transform-origin: bottom left;
  }

  &::after {
    right: 0;
    border-radius: 0 32px 32px 0;
    transform: scale(0, 1);
    transform-origin: top right;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &:hover {
    color: var(--accent-color);
    background-color: transparent;

    &::before,
    &::after {
      transform: scale(1, 1);
    }
  }
}
.cs_btn_style_3 {
  display: inline-flex;
  padding: 15px 30px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 7px;
  text-wrap: nowrap;
  border: 0;
  outline: 0;
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;

  &:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}
.cs_btn_style_4 {
  display: inline-flex;
  padding: 15px 22px 16px 62px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 44px;
  text-wrap: nowrap;
  border: 0;
  outline: 0;
  font-family: var(--primary-font);
  color: var(--white-color);
  background-color: var(--accent-color);
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: all 0.3s ease;

  &::before {
    content: "\f105";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    left: 21px;
    z-index: 5;
    font-size: 20px;
    color: var(--accent-color);
  }

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    height: 44px;
    width: 44px;
    display: inline-block;
    left: 5px;
    z-index: 1;
    border-radius: 50%;
    transition: all 0.3s ease;
    background: var(--white-color);
  }

  &:hover {
    color: var(--accent-color);
    &::after {
      width: 94%;
      border-radius: 44px;
      z-index: -1;
    }
  }

  &.cs_white_bg {
    background-color: var(--white-color);
    color: #000;

    &::after {
      background: var(--accent-color);
    }

    &::before {
      color: var(--white-color);
    }
  }
}
.cs_btn_style_5 {
  display: inline-flex;
  padding: 18px 31px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 50px;
  text-wrap: nowrap;
  border: 0;
  outline: 0;
  text-transform: capitalize;
  font-family: var(--primary-font);
  color: var(--white-color);
  background: linear-gradient(90deg, #f122b0 0%, #0052bb 99.04%);
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(90deg, #0052bb 0%, #f122b0 99.04%);
    color: var(--white-color);
  }

  span {
    display: flex;
    align-items: center;
    gap: 8px;

    i {
      font-size: 14px;
    }
  }
}
.cs_btn_style_6 {
  display: inline-flex;
  padding: 13px 41px;
  font-size: 18px;
  font-weight: 500;
  text-wrap: nowrap;
  border: 0;
  outline: 0;
  text-transform: capitalize;
  font-family: var(--primary-font);
  color: var(--black-color);
  background: var(--accent-color);
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: all 0.3s ease;

  &:hover {
    color: var(--white-color);
  }

  span {
    display: flex;
    align-items: center;
    gap: 8px;

    i {
      font-size: 14px;
    }
  }
}

.cs_btn_style_7 {
  display: inline-flex;
  padding: 17px 55px;
  font-size: 18px;
  font-weight: 500;
  text-wrap: nowrap;
  position: relative;
  z-index: 2;
  border: 0;
  outline: 0;
  font-family: var(--primary-font);
  color: var(--white-color);
  transition: all 0.3s ease;

  &:hover {
    background-color: transparent;
    color: var(--accent-color);
  }
  &.cs_border {
    height: auto;
    width: auto;
  }
}
.cs_arrow_btn {
  display: inline-flex;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background: var(--white-color);
  color: var(--accent-color);
  transition: all 0.3s ease;

  &:hover {
    background: var(--accent-color);
    color: var(--white-color);
  }
}

.cs_player_btn_style_1 {
  span {
    width: 70px;
    height: 70px;
    font-size: 24px;
    border-radius: inherit;
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: inherit;
    background-color: var(--white-color);
    transform: translate(-50%, -50%) scale(0.9);
    animation: pulseBorder 3s linear infinite;
  }

  &:hover {
    &::before {
      animation-play-state: paused;
    }
  }
}

.cs_scrollup {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: calc(100% + 120px);
  font-size: 18px;
  z-index: 99;
  opacity: 0;
  border-radius: 50%;
  transform: scale(0);
  color: var(--white-color);
  background-color: var(--dark-blue);
  border: 2px solid currentColor;
  transition: all 0.5s ease;

  &:hover {
    color: var(--dark-blue);
    background-color: var(--white-color);
  }

  &.active {
    opacity: 1;
    bottom: 20px;
    transform: scale(1);
  }
}

/*=======================================================
  Section Heading
=========================================================*/

.cs_zoom {
  img {
    transition: all 0.6s ease;
  }

  &:hover {
    img {
      transform: scale(1.03);
    }
  }
}

/*=============================================  
  Bootstrap Classess 
===============================================*/

.cs_gap_y_24 {
  gap: 24px 0;
}
.cs_gap_y_30 {
  gap: 30px 0;
}
.cs_gap_y_50 {
  gap: 50px 0;
}

.container-fluid {
  padding: 0 84px;

  @media (max-width: 1400px) {
    padding: 0 15px;
  }
}
/*===========================================================  
  Rating Component
=============================================================*/

.cs_rating_percentage,
.cs_rating {
  overflow: hidden;

  &::before {
    content: "\f005\f005\f005\f005\f005";
    font-family: "Font Awesome 6 Free";
    position: absolute;
    top: 0;
    left: 0;
  }
}

.cs_rating {
  max-width: 120px;
  flex: none;
  height: 24px;
  position: relative;
  color: #f90;
  font-size: 16px;
  letter-spacing: 7px;

  &::before {
    font-weight: 400;
  }
}

.cs_rating_percentage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  &::before {
    font-weight: 900;
  }
}

.cs_brand_wrapper_1 {
  position: relative;
  min-height: 450px;

  .cs_brand {
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white-color);
    padding: 82px 52px;
    border-radius: 5px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.15);
  }

  @media (max-width: 1199px) {
    .cs_brand {
      width: calc(100% - 60px);
    }
  }
  @media (max-width: 991px) {
    .cs_brand {
      padding: 50px 30px;
    }
  }
}
.cs_best_vr {
  background: linear-gradient(90deg, #e026b2 0%, #007aff 100%);
  padding: 28px 0;
  position: relative;

  .cs_best_vr_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px 30px;

    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
  }

  .cs_best_vr_img {
    img {
      width: 100%;
      position: relative;
      z-index: 10;
    }
  }
}

.background-wrap {
  .bubble {
    border-radius: 50%;
    opacity: 0.2;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.4) 23.86%,
      #fff 93.86%
    );
    height: 200px;
    position: absolute;
    width: 200px;
  }

  .bubble2 {
    background: var(--white-color);
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
  }
  .x1 {
    width: 600px;
    height: 600px;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
  }
  .x2 {
    left: 40%;
    top: 50%;
    animation-delay: 3s;
    width: 150px;
    height: 150px;
  }
  .x3 {
    left: 57%;
    bottom: -58%;
    height: 480px;
    width: 480px;
  }
  .x4 {
    right: 36px;
    top: 0;
    animation: bubbleZoomOut 10s infinite;
    animation-delay: 2s;
  }
  .x5 {
    right: 32%;
    bottom: 0;
    animation: bubbleZoomOut 10s infinite;
  }
}

.cs_before_1 {
  position: relative;

  &::before {
    content: "";
    width: 98%;
    height: 50%;
    background: var(--accent-color);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}
@keyframes bubbleZoom {
  50% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bubbleZoomOut {
  50% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shape1 {
  50% {
    transform: rotate(5deg);
  }
}

/*-----------------------------------------------
   Feature 
------------------------------------------------*/

.cs_feature_wrapper {
  .cs_btn_style_5 {
    padding: 18px 41px;
  }

  .cs_section_heading_style_2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
  }
}

.cs_section_heading_style_3 {
  .cs_section_subtitle {
    display: flex;
    gap: 15px;
    font-family: var(--ternary-font);
  }
}

.cs_section_heading_style_4 {
  .cs_section_subtitle {
    display: inline-block;
    background-color: var(--accent-color);
    padding: 4px 37px;
    font-size: 18px;
    border-radius: 44px 0;
    color: var(--white-color);
  }
}

.cs_feature_style_1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 20px;

  &:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }

  &:not(:first-child) {
    padding-top: 20px;
  }
}

.cs_feature_img {
  background-color: #f2f5fa;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
  }
}

.cs_section_heading_style_2 {
  .cs_section_subtitle {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.cs_border {
  position: relative;
  width: 45px;
  height: 45px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    background: var(--accent-color);
    width: 1px;
    top: -8px;
    bottom: -8px;
  }
  &::after {
    right: 0;
  }
  &::before {
    left: 0;
  }

  .top-border,
  .bottom-border {
    position: absolute;
    left: -8px;
    right: -8px;
    height: 1px;
    background-color: var(--accent-color);
  }
  .top-border {
    top: 0;
  }
  .bottom-border {
    bottom: 0;
  }
}
/*===========================================================  
  All Common Animations
=============================================================*/
@keyframes pulseBorder {
  100% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 0;
  }
}

@keyframes animo-x {
  0% {
    transform: translateX(0);
  }
  50% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-40px);
  }
}
@keyframes animo-x2 {
  0% {
    transform: translateX(0);
  }
  50% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100px);
  }
}
@keyframes animo-y {
  0% {
    transform: rotate(0deg);
  }
  50% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotate(360deg);
  }
}

@keyframes animo-up-down {
  50% {
    transform: translateY(10px);
  }
}

/*===========================================================  
  Responsive For Common Component & Hide Elements
=============================================================*/

@media (max-width: 991px) {
  br {
    display: none;
  }
}
