/*--------------------------------------------------------------
  05. All Headers
----------------------------------------------------------------*/
.cs_site_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  font-size: 17px;
  color: var(--white-color);
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.30);
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;

  &.active {
    color: var(--primary-color);
  }

  .cs_site_brand {
    position: relative;
    z-index: 22;
  }

  &.cs_sticky_active {
    top: 0;
    color: var(--primary-color);
    background-color: var(--white-color);
    box-shadow: 0px 1px 2px 0px rgba(2, 0, 181, 0.1);

    .cs_main_header_in {
      height: 100px;
    }


    .cs_btn_style_1 {
      border-color: currentColor;
    }

  }

  /*======================================================
  Main Header
 ========================================================*/
  .cs_main_header_in {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        transition: all 0.3s ease;
  }

  /*====================================================
   Mobile Menu Styling
 ======================================================*/
  .cs_menu_toggle {
    width: 30px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 38px;
    right: 15px;
    z-index: 999;

    span,
    span:before,
    span:after {
      width: 100%;
      height: 2px;
      background-color: currentColor;
      display: block;
    }

    span {
      margin: 0 auto;
      position: relative;
      top: 12px;
      transition-duration: 0s;
      transition-delay: 0.2s;

      &:before {
        content: "";
        position: absolute;
        margin-top: -9px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }

      &:after {
        content: "";
        position: absolute;
        margin-top: 9px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }
    }

    &.active {
      span {
        background-color: transparent;
        transition-delay: 0.2s;

        &:before {
          margin-top: 0;
          transform: rotate(45deg);
          transition-delay: 0s, 0.2s;
        }

        &:after {
          margin-top: 0;
          transform: rotate(-45deg);
          transition-delay: 0s, 0.2s;
        }
      }
    }
  }

  .cs_menu_toggle {
    display: none;
  }

  @media (max-width: 1399px) {
    .container {
      max-width: 100%;
    }
  }

  @media (min-width: 1200px) {
    .cs_main_header_center {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: inherit;
    }


    .cs_nav {
      height: inherit;
      line-height: 1.6em;

      .cs_nav_list_wrap {
        height: inherit;
      }
    }

    .cs_nav_list {
      display: flex;
      align-items: center;
      height: inherit;

      >li {
        height: inherit;
        position: relative;
        margin-right: 44px;

        &:last-child {
          height: fit-content;
          margin-right: 0;

          a {
            height: auto;
          }
        }

        >a {
          height: inherit;
          display: inline-flex;
          align-items: center;

          &:hover {
            color: var(--accent-color);
          }
        }

        &.menu-item-has-children {
          >a {
            position: relative;
            padding-right: 16px;

            &::before {
              content: "\f078";
              font-family: "Font Awesome 6 Free";
              font-size: 10px;
              font-weight: 900;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }

        &:hover {
          .cs_dropdown_list {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .cs_dropdown_list {
        list-style: none;
          top: calc(100% + 15px);
          border-top: 1px solid var(--accent-color);
          width: 275px;
          background-color: var(--white-color);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
          border-radius: 0 0 5px 5px;
          padding: 10px 0;
          position: absolute;
          left: 0;
          opacity: 0;
          visibility: hidden;
          transition: all 0.1s ease;

          a {
            padding: 10px 20px;
            line-height: inherit;
            display: block;
            color: var(--accent-color);
          }
          &:hover {
            a {
              opacity: 0.75;
            }
          }
      }
    }
  }

  @media (max-width: 1199px) {

    .cs_main_header_in {
      height: 100px;
      display: flex;
      align-items: center;
    }

    .cs_main_header_left {
        position: initial;
        width: 180px;
      }

    .cs_nav {
      .cs_nav_list_wrap {
        position: absolute;
        width: 100vw;
        height: 100vh;
        padding: 120px 10px 40px 0;
        background-color: var(--white-color);
        color: var(--primary-color);
        left: -100vw;
        top: 0;
        transition: all 0.3s ease;

        &.active {
          left: 0;
        }
      }

      .cs_nav_list {
        height: 100%;
        line-height: 1.6em;
        overflow: hidden;

        >li {
          width: 100%;
          margin-right: 0;

          >a {
            display: inline-block;
            padding: 10px 15px;
            border: 0;
            font-weight: 500;
          }
        }
      }

    }

      .cs_dropdown_list {
            padding-left: 15px;
            display: none;
            list-style: none;

            a {
                display: block;
                padding: 12px 15px;
                line-height: 16px;
            }
          }
    .cs_menu_toggle {
      display: inline-block;
    }

    .menu-item-has-children {
      position: relative;
    }
    .cs_menu_dropdown_toggle {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: end;
      width: 100%;
      padding: 18px 24px;

      span {
        position: relative;
        display: block;
        width: 10px;
        height: 10px;

        &::before ,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 2px;
          background-color: currentColor;
          transition: all 0.3s ease;
        }

        &::after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }

      &.active {
        span {
          &::after {
            transform: translate(-50%, -50%) rotate(0deg);
          }
        }
      }
    }
  }

  @media (max-width: 575px) {
      .cs_main_header_left {
        width: 150px;
      }
  }

/*-------------------------------------------------------------------------
-------------------------style-1 -----------------------------------------*/

  &.cs_style_1 {

    &.cs_sticky_active {
    .cs_site_brand img {
      filter: brightness(0) saturate(100%) invert(13%) sepia(55%) saturate(773%) hue-rotate(189deg) brightness(97%) contrast(95%);
    }
    }
    
    .cs_main_header_right {
      .cs_header_cart_btns {
        display: flex;
        align-items: center;
        gap: 23px;

        a {
          &:hover {
            color: var(--accent-color);
          }
        }

        .cs_cart_style_1 {
          width: 45px;
          height: 50px;
          border: 1px solid currentColor;
        }
      }
    }

    &.active {
      .cs_site_brand img {
      filter: brightness(0) saturate(100%) invert(13%) sepia(55%) saturate(773%) hue-rotate(189deg) brightness(97%) contrast(95%);
    }
    }
      @media (min-width: 1400px) {
      .container {
        max-width: 1620px;
      }

    .cs_main_header_left {
      left: 50%;
    }
  }

  @media (max-width: 1399px) {
        .cs_nav_list {
          > li {
            margin-right: 30px;
          }
        }
  }

  @media (min-width: 1200px) {
       .cs_main_header_left {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
  }

  @media (max-width: 1199px) { 
    .cs_main_header_right {
      .cs_header_cart_btns {
        margin-right: 60px;
      }
    }
  }
  @media (max-width: 575px) { 
    .cs_main_header_right {
      .cs_header_cart_btns {
        display: none;
      }
    }
  }
  }
  /*-------------------------------------------------------------------------
-------------------------style-2 -----------------------------------------*/
  &.cs_style_2 {
    color: #0B0D26;

    .cs_header_top {
      .cs_header_top_in {
        padding: 17px 0 14px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .cs_header_left {
        .cs_location_icon {
          margin-right: 5px;
        }
      }

      .cs_header_center {
        display: flex;
        align-items: center;

        .cs_header_right {
          margin-left: 30px;
        }
      }

        .cs_user_area {
          display: flex;
          align-items: center;
          gap: 12px;

          .cs_phone_icon {
            margin-right: 7px;
          }

          .cs_contry {
            display: flex;
            gap: 7px;
          }
        }
    }

    @media (min-width: 1200px) {
       .cs_main_header_center {
        .cs_main_header_right {
          margin-left: 55px;
        }
      }
  }

  @media (max-width: 1199px) {
    .cs_header_top {
      display: none;
    }

    .cs_main_header_center {
      .cs_main_header_right {
        padding-right: 60px;
      }
    }
  }

   @media (max-width: 575px) { 
    .cs_main_header_right {
      .cs_btn_style_2 {
        display: none;
      }
    }
  }

  }
  /*-------------------------------------------------------------------------
-------------------------style-3 -----------------------------------------*/
  &.cs_style_3 {
    color: #0B0D26;
        border-bottom: 1px solid #EFEDED;
         background-color: transparent;
    
    .cs_main_header_in {
        height: 105px;
    }

  .cs_main_header_center {
        .cs_main_header_right {
          display: flex;
          gap: 30px;
          
          .cs_cart {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid var(--border-color);
          }
        }
      }
    

    @media (min-width: 1200px) {
       .cs_main_header_center {
        .cs_main_header_right {
          margin-left: 72px;
        }
      }
  }

  @media (max-width: 1199px) {
    .cs_header_top {
      display: none;
    }

    .cs_main_header_center {
      .cs_main_header_right {
        padding-right: 60px;
      }
    }
  }

   @media (max-width: 575px) { 
    .cs_main_header_right {
        display: none !important;
    }
  }

  }
}