/*==============================================================
  12. Hero
================================================================*/

.cs_hero_bottom {
  display: flex;
  gap: 20px 30px;
  align-items: center;
  flex-wrap: wrap;

  sup {
    font-size: 18px;
    top: -1.8em !important;
    margin-left: -10px;
    font-weight: 500;
  }
}

.cs_hero_style_1 {
  padding: 264px 0 0;

  .cs_hero_content {
    width: min(100%, 740px);
  }

  .cs_shop_feature_style_1 {
    background: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1620px;
    }
  }

  @media (max-width: 1399px) {
    .container {
      max-width: 100%;
    }

    .cs_shop_feature_style_1 {
      .cs_iconbox_wrapper_1 {
        .cs_iconbox_style_1 {
          align-items: start;

          &:not(:last-child) {
            padding-right: 20px;
            margin-right: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_shop_feature_style_1 {
      .cs_iconbox_wrapper_1 {
        flex-wrap: wrap;
        gap: 40px;
        padding: 30px 0;

        .cs_iconbox_style_1 {
          align-items: start;
          width: calc(50% - 20px);

          &:not(:last-child) {
            margin: 0;
            padding: 0;
            border-right: 0;
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    padding: 160px 0 0;

    .cs_hero_content {
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    .cs_shop_feature_style_1 {
      .cs_iconbox_wrapper_1 {
        gap: 25px;

        .cs_iconbox_style_1 {
          width: 100%;
        }
      }
    }
  }
}

.cs_hero_style_2 {
  padding: 430px 0 260px;

  &::before {
    content: "";
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .cs_hero_content {
    width: min(720px, 100%);
    margin-left: auto;
  }

  .cs_btn_style_2 {
    padding: 17px 22px;
    font-weight: 600;
  }

  @media (max-width: 1199px) {
    padding: 230px 0 160px;
  }

  @media (max-width: 991px) {
    padding: 180px 0 80px;
  }
}

.cs_hero_style_3 {
  padding: 125px 0 0;
  position: relative;

  &::after {
    content: "";
    width: min(100%, 683px);
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 0;
    background: #fff9f9;
  }

  .cs_section_heading_style_1 {
    width: min(445px, 100%);
    position: relative;
    z-index: 3;
  }

  .cs_hero_center_img {
    position: relative;

    img {
      position: relative;
      z-index: 5;
    }
  }

  .cs_hero_right_img {
    position: absolute;
    right: 21%;
  }

  .cs_hero_right_info {
    margin-left: 60px;
    position: relative;
    z-index: 2;

    .cs_hd_camera {
      border: 1px solid rgba(254, 104, 6, 0.55);
      padding: 23px 36px;
      width: min(100%, 233px);
    }

    .cs_rating {
      color: var(--accent-color);

      &::before {
        font-weight: 900;
      }

      .cs_rating_percentage {
        color: #c8c8c8;
      }
    }
  }

  @media (max-width: 1399px) {
    .cs_hero_right_img {
      right: 0;
    }

    .cs_hero_right_info {
      margin-left: 30px;
    }
  }

  @media (max-width: 1199px) {
    .cs_hero_right_info {
      margin-left: 20px;

      .cs_hd_camera {
        padding: 20px 15px;
      }
    }
  }

  @media (max-width: 991px) {
    padding: 180px 0 0;

    &::after {
      width: 100%;
    }

    .cs_hero_right_info {
      margin-left: 0;
      padding-bottom: 60px;
    }

    .cs_hero_center_img {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cs_hero_center_img,
    .cs_section_heading_style_1 {
      width: 100%;
    }
  }
}

.cs_camera_feature_style_1 {
  padding: 76px 0;
  background-color: #f9f9f9;

  .cs_iconbox_style_1 {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

    .cs_iconbox_icon {
      width: 104px;
      height: 104px;
      padding: 10px;
      flex: none;
      border-radius: 50%;
      background-color: #f4f4f4;

      img {
        border-radius: 0;
      }
    }

    .cs_iconbox_info {
      width: min(259px, 100%);
    }
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1500px;
    }
  }
}

.cs_hero_style_4 {
  padding: 320px 0 276px;

  .cs_hero_title {
    padding-bottom: 83px;
    width: min(700px, 100%);
  }

  .cs_hero_bottom {
    display: flex;
    align-items: center;
    gap: 22px;

    .cs_btn_style_5 {
      padding: 17px 41px;
      font-size: 22px;
      font-weight: 600;
    }
  }

  @media (max-width: 1199px) {
    padding: 190px 0 180px;
  }

  @media (max-width: 991px) {
    padding: 180px 0 80px;

    .cs_hero_title {
      padding-bottom: 40px;
    }
  }
}

.cs_color_shape {
  width: 613px;
  height: 637px;
  background: rgba(126, 200, 145, 0.3);
  filter: blur(165.5px);
}

.cs_hero_style_5 {
  padding: 383px 0 260px;

  .cs_hero_content {
    width: min(700px, 100%);
  }

  .cs_hero_subtitle {
    color: #d9d9d9;
  }

  .cs_hero_img {
    position: absolute;
    right: 0;
    top: -236px;

    img {
      position: relative;
      z-index: 1;
    }
  }

  .cs_color_shape {
    top: 80px;
    left: -51px;
    background: rgba(255, 202, 46, 0.44);
  }

  .cs_rating_section {
    display: flex;
    align-items: center;
    gap: 20px;
    right: 74px;
    top: 250px;

    .cs_rating_img {
      height: 180px;
      width: 57px;

      &::after {
        content: "";
        width: 1px;
        height: 180px;
        background-color: var(--white-color);
      }

      .cs_img {
        &:first-child {
          top: 30px;
        }

        &:last-child {
          bottom: 30px;
        }
      }
    }

    .cs_rating_text {
      h3 {
        display: flex;
        align-items: center;
        gap: 17px;
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_rating_section {
      top: 170px;
    }
  }

  @media (max-width: 991px) {
    padding: 360px 0 80px;
  }

  @media (max-width: 767px) {
    .cs_hero_img {
      top: 100px;
    }
  }

  @media (max-width: 575px) {

    .cs_rating_section {
      left: 15px;
      right: initial;
    }
  }
}

.cs_hero_style_6 {
  padding: 315px 0 285px;
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: -1;
  }

  .cs_hero_content {
    width: min(820px, 100%);
    margin: 0 auto;
  }

  @media (max-width: 991px) {
    padding: 180px 0 80px;
  }
}

.cs_hero_style_7 {
  padding: 144px 0 160px;

  .cs_customers_aria {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .cs_customers {
    display: flex;

    .cs_customer_img {
      border-radius: 50%;
      width: 45px;
      height: 45px;

      &:not(:first-child) {
        margin-left: -10px;
      }

      img {
        width: 100%;
      }
    }
  }

  .cs_btn_style_1 {
    padding: 20px 49px;
    font-weight: 600;
  }

  .cs_burger_text_img {
    margin-top: -166px;
  }

  .cs_shape_1 {
    bottom: -160px;
    right: 83px;
  }

  .cs_shape_2 {
    top: -26px;
    left: 120px;
  }

  @media (max-width: 1199px) {
    .cs_shape_2 {
      top: -65px;
    }

    @media (max-width: 991px) {
      padding: 144px 0 80px;

      .cs_shape_1 {
        display: none;
      }

      .cs_shape_2 {
        display: none;
      }
    }
  }
}

.cs_hero_style_8 {
  padding: 128px 0 36px;

  .cs_right_hero {
    width: 70%;
    margin-left: auto;
    position: relative;

    &::after {
      content: "";
      right: -9999px;
      width: calc(100% + 9999px);
      height: calc(100% + 128px + 36px);
      position: absolute;
      top: -128px;
      background-color: var(--accent-color);
    }

    &::before {
      content: "";
      width: 751.167px;
      height: 278.782px;
      background: #20a5f0;
      border-radius: 333px 0 0 333px;
      transform: rotate(-38.752deg);
      position: absolute;
      z-index: 1;
      top: 273px;
      right: -168px;
    }

    .cs_right_hero_img {
      right: 202px;
    }
  }

  .cs_border {
    width: 220px;
    height: 50px;
    padding: 13px 27px 15px;
    color: var(--white-color);
    background-color: var(--accent-color);

    i {
      padding-left: 10px;
    }

    &:hover {
      background-color: var(--primary-color);

      .top-border,
      .bottom-border,
      &::before,
      &::after {
        background-color: var(--primary-color);
      }
    }
  }

  .cs_price {
    width: min(340px, 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    border-top: 1px solid var(--border-color);
    padding-top: 24px;
  }

  .cs_review {
    position: absolute;
    right: 0;
    bottom: 123px;

    .cs_rating_wrapper {
      display: flex;
      gap: 5px;
      align-items: center;
    }

    .cs_rating_wrapper_in {
      width: 120px;
    }

    .cs_rating {
      color: var(--accent-color);

      &::before {
        font-weight: 900;
      }
    }

    .cs_rating_percentage {
      color: var(--border-color);
    }
  }

  .cs_shape {
    position: absolute;
    right: -50px;
    bottom: -131px;
    animation: shape1 3s infinite;
  }

  .cs_hero_img_details {
    top: 25%;
    right: -30px;

    p {
      padding-bottom: 13px;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 75px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--white-color);
        bottom: 0;
        left: -104px;
        z-index: 1;
      }
    }
  }

  @media (max-width: 1299px) {
    .cs_right_hero {
      &::before {
        right: -305px;
      }
    }

    .cs_price {
      width: min(285px, 100%);
    }
  }

  @media (max-width: 1199px) {
    .cs_review {
      position: initial;
      margin-top: 20px;
    }

    .cs_right_hero {
      &::before {
        display: none;
      }
    }
  }

  @media (max-width: 991px) {
    .cs_right_hero {
      &::after {
        height: 100%;
        top: 0;
      }
    }

    .cs_shape {
      bottom: -60px;
    }
  }

  @media (max-width: 767px) {
    .cs_right_hero {
      .cs_right_hero_img {
        right: 192px;
      }
    }
  }

  @media (max-width: 575px) {
    .cs_right_hero {
      .cs_right_hero_img {
        right: 140px;
      }
    }

    .cs_shape {
      display: none;
    }
  }
}

.cs_hero_style_9 {
  padding: 240px 0 0px;
  position: relative;

  .container {
    max-width: 1440px;
  }

  .cs_hero_img {
    position: absolute;
    bottom: 0;
    left: 0px;
    z-index: 5;
    transform: translateY(75px);

    img {
      width: 100%;
    }
  }

  .cs_hero_info {
    width: min(792px, 100%);
    margin-left: auto;
    padding-bottom: 180px;

    .cs_btn_style_2 {
      background-color: var(--white-color);
      color: var(--accent-color);
      padding: 16px 32px;
      font-weight: 600;
      border-radius: 0;
      overflow: hidden;

      &:hover {
        border-radius: 32px;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 50vw;
    height: 100%;
    background: var(--accent-color);
    left: 0;
    top: 0;
  }

  @media (max-width: 1600px) {
    .cs_hero_img {
      left: 60px;
    }
  }

  @media (max-width: 1399px) {
    .cs_hero_info {
      width: min(692px, 100%);
    }

    .cs_hero_img {
      img {
        width: 90%;
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_hero_info {
      width: min(648px, 51%);
    }

    .cs_hero_img {
      img {
        width: 80%;
      }
    }
  }

  @media (max-width: 991px) {
    padding: 120px 0 80px;

    .cs_hero_img {
      position: initial;
      transform: none;
      width: 80%;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .cs_hero_info {
      padding: 30px 0 100px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.cs_hero_style_10 {
  padding: 166px 0 0;
  border-bottom: 1px solid var(--border-color);

  .cs_hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  .cs_hero_left {
    width: min(777px, 100%);
  }

  .cs_hero_right {
    border: 1px solid var(--border-color);
    border-bottom: 0;
    border-radius: 444px 444px 0 0;
    padding: 40px 20px 38px 54px;

    img {
      width: 100%;
    }
  }

  .cs_hero_bg_img {
    top: -30px;
    right: 0;
  }

  .cs_color_shape {
    top: -66px;
    left: -266px;
  }

  @media (max-width: 1199px) {
    .cs_hero_content {
      align-items: flex-end;
    }
  }

  @media (max-width: 991px) {
    .cs_hero_content {
      flex-direction: column;
      align-items: center;
    }
  }
}

.cs_about_hero {
  padding: 245px 0 190px;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
  }

  .breadcrumb-item+.breadcrumb-item::before {
    content: "/";
    color: var(--white-color);
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
  }

  .breadcrumb {
    display: inline-flex;
    font-weight: 300;
    justify-content: center;
  }

  .breadcrumb-item {
    color: var(--white-color);

    &.active {
      opacity: 1;
      color: var(--accent-color);
    }

    a {
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--white-color);
        transform: scale(0, 1);
        transform-origin: top right;
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
        position: absolute;
        left: 0;
        top: 100%;
      }

      &:hover {
        &::before {
          transform: scale(1, 1);
          transform-origin: bottom left;
        }
      }
    }
  }

  @media (max-width: 992px) {
    padding: 180px 0 90px;
  }
}