.cs_hero_bottom {
  display: flex;
  gap: 20px 30px;
  align-items: center;
  flex-wrap: wrap;

  sup {
    font-size: 18px;
    top: -1.8em !important;
    margin-left: -10px;
    font-weight: 500;
  }
}
.cs_hero_style_1 {
  padding: 264px 0 0;

  .cs_hero_content {
    width: min(100%, 740px);
  }

  .cs_shop_feature_style_1 {
    background: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1620px;
    }
  }

  @media (max-width: 1399px) {
    .container {
      max-width: 100%;
    }

    .cs_shop_feature_style_1 {
      .cs_iconbox_wraper_1 {
        .cs_iconbox_style_1 {
          align-items: start;
          &:not(:last-child) {
            padding-right: 20px;
            margin-right: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_shop_feature_style_1 {
      .cs_iconbox_wraper_1 {
        flex-wrap: wrap;
        gap: 40px;
        padding: 30px 0;

        .cs_iconbox_style_1 {
          align-items: start;
          width: calc(50% - 20px);

          &:not(:last-child) {
            margin: 0;
            padding: 0;
            border-right: 0;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 150px 0 0;
  }

  @media (max-width: 576px) {
    .cs_shop_feature_style_1 {
      .cs_iconbox_wraper_1 {
        gap: 25px;

        .cs_iconbox_style_1 {
          width: 100%;
        }
      }
    }
  }
}

.cs_hero_style_2 {
  padding: 450px 0 260px;

  &::before {
    content: "";
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .cs_hero_content {
    width: min(720px, 100%);
    margin-left: auto;
  }

  .cs_btn_style_2 {
    padding: 17px 22px;
    font-weight: 600;
  }
}

.cs_hero_style_3 {
  padding: 125px 0 0;

  .cs_section_heading {
    width: min(445px, 100%);
    position: relative;
    z-index: 3;
  }

  .cs_hero_center_img {
    position: relative;
    img {
      position: relative;
      z-index: 5;
    }

    &::after {
      content: "";
      position: absolute;
      left: -245px;
      top: -115px;
      z-index: 2;
      width: 683px;
      height: 803px;
      background: #fff9f9;
    }
  }

  .cs_hero_right_img {
    position: absolute;
    right: 21%;
  }
  .cs_hero_right_info {
    margin-left: 60px;
    position: relative;
    z-index: 2;

    .cs_hd_camera {
      border: 1px solid rgba(254, 104, 6, 0.55);
      padding: 23px 36px;
      width: 233px;
    }

    .cs_rating {
      color: var(--accent-color);
      &::before {
        font-weight: 900;
      }
      .cs_rating_percentage {
        color: #c8c8c8;
      }
    }
  }

  @media (max-width: 1400px) {
    .cs_hero_right_img {
      right: 0;
    }
  }
}

.cs_camera_feature_style_1 {
  background-color: #f9f9f9;
  padding: 76px 0;

  .cs_iconbox_style_1 {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

    .cs_iconbox_icon {
      width: 104px;
      height: 104px;
      flex: none;
      background-color: #f4f4f4;
      border-radius: 50%;
    }

    .cs_iconbox_info {
      width: min(259px, 100%);
    }
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1500px;
    }
  }
}

.cs_hero_style_4 {
  padding: 320px 276px;

  .cs_hero_title {
    padding-bottom: 63px;
    width: min(700px, 100%);
  }
  .cs_hero_bottom {
    display: flex;
    align-items: center;
    gap: 22px;

    .cs_btn_style_5 {
      padding: 17px 41px;
      font-size: 22px;
      font-weight: 600;
    }
  }
}

.cs_hero_style_5 {
  padding: 383px 0 260px;

  .cs_hero_content {
    width: min(700px, 100%);
  }
  .cs_hero_subtitle {
    color: #d9d9d9;
  }

  .cs_hero_img {
    position: absolute;
    right: 0;
    top: -236px;
  }
  .cs_rating_section {
    display: flex;
    align-items: center;
    gap: 20px;
    right: 74px;
    top: 250px;

    .cs_rating_img {
      height: 180px;
      width: 57px;

      &::after {
        content: "";
        width: 1px;
        height: 180px;
        background-color: var(--white-color);
      }
      .cs_img {
        &:first-child {
          top: 30px;
        }
        &:last-child {
          bottom: 30px;
        }
      }
    }

    .cs_rating_text {
      h3 {
        display: flex;
        align-items: center;
        gap: 17px;
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_rating_section {
      left: 115px;
    }
  }
}

.cs_hero_style_6 {
  padding: 315px 0 285px;
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: -1;
  }

  .cs_hero_content {
    width: min(820px, 100%);
    margin: 0 auto;
  }
}

.cs_hero_style_7 {
  padding: 144px 0 160px;

  .cs_customers_aria {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .cs_customers {
    display: flex;

    .cs_customer_img {
      border-radius: 50%;
      width: 45px;
      height: 45px;

      &:not(:first-child) {
        margin-left: -10px;
      }

      img {
        width: 100%;
      }
    }
  }

  .cs_btn_style_1 {
    padding: 20px 49px;
    font-weight: 600;
  }

  .cs_burger_text_img {
    margin-top: -166px;
  }

  .cs_shape_1 {
    bottom: -160px;
    right: 83px;
  }

  .cs_shape_2 {
    top: -26px;
    left: 120px;
  }

  @media (max-width: 1199px) {
    .cs_shape_2 {
      top: -65px;
    }
    @media (max-width: 991px) {
      .cs_shape_1 {
        display: none;
      }
      .cs_shape_2 {
        display: none;
      }
    }
  }
}

.cs_hero_style_8 {
  .cs_left_hero {
    padding: 315px 0 262px;
  }
  .cs_right_hero {
    padding: 315px 0 262px;
    width: 70%;
    margin-left: auto;
    position: relative;

    &::after {
      content: "";
      right: -9999px; /* make it extend far beyond container */
      width: calc(100% + 9999px); /* extend full left side */
      height: 100%;
      position: absolute;
      background-color: var(--accent-color);
      top: 0;
    }

    &::before {
      content: "";
      width: 751.167px;
      height: 278.782px;
      background: #20a5f0;
      border-radius: 333px 0 0 333px;
      transform: rotate(-38.752deg);
      position: absolute;
      z-index: 1;
      top: 535px;
    }

    .cs_right_hero_img {
      right: 202px;
    }
  }

  .cs_border {
    width: 220px;
    padding: 13px 27px 15px;
    color: var(--white-color);
    background-color: var(--accent-color);
    i {
      padding-left: 10px;
    }
  }

  .cs_price {
    width: min(340px, 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    border-top: 1px solid var(--border-color);
    padding-top: 24px;
  }

  .cs_review {
    position: absolute;
    right: 0;
    bottom: 123px;

    .cs_rating_wrapper {
      display: flex;
      gap: 5px;
      align-items: center;
    }

    .cs_rating_wrapper_in {
      width: 120px;
    }

    .cs_rating {
      color: var(--accent-color);

      &::before {
        font-weight: 900;
      }
    }
    .cs_rating_percentage {
      color: var(--border-color);
    }
  }

  .cs_shape {
    position: absolute;
    right: -50px;
    bottom: -131px;
  }
}
