/*===========================================================  
  07. Preloade
=============================================================*/
.cs_preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  background-color: var(--white-color);

  .cs_preloader_circle_wrapper {
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .cs_preloader_circle {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    animation: scaleCenter 3s linear infinite;

    span {
      display: block;
      width: 15px;
      height: 15px;
      flex: none;
      position: absolute;
      border-radius: 50%;
      background: linear-gradient(40deg, #f122b0 0%, #0052bb 99.04%);

      &:nth-child(1) {
        top: -7px;
        left: 30px;
      }

      &:nth-child(2) {
        left: -4px;
        bottom: 14px;
      }

      &:nth-child(3) {
        right: -4px;
        bottom: 14px;
      }
    }
  }
}

@keyframes scaleCenter {

  to {
    transform: rotate(360deg);
  }
}