/*==============================================================
  18. Sidebar
================================================================*/
.cs_sidebar_style_1 {
  padding-left: 80px;

  .cs_sidebar_item {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cs_sidebar_search {
    position: relative;

    input {
      width: 100%;
      border-radius: 12px;
      border: 1.2px solid rgba(0, 25, 76, 0.1);
      outline: none;
      background: var(--Gray4);
      height: 65px;
      padding: 27px 50px 26px 25px;
    }

    .cs_sidebar_search_btn {
      position: absolute;
      right: 26px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .cs_category_list {
    li {
      position: relative;
      color: var(--primary-color);
      font-weight: 500;

      &:not(:last-child) {
        margin-bottom: 18px;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
          color: var(--accent-color);
        }
      }

    }
  }

  @media (max-width:1199px) {
    padding-left: 30px;
  }

  @media (max-width:991px) {
    padding-left: 0;
  }
}

/*=======================================================
 Recent Post
=========================================================*/
.cs_recent_posts_list {
  li:not(:last-child) {
    margin-bottom: 30px;
  }
}

.cs_recent_post {
  display: flex;
  gap: 30px;

  .cs_recent_post_thumb {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    flex: none;

    img {
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;
    }

    &:hover img {
      transform: scale(1.03);
    }
  }

  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    &:hover {
      color: var(--accent-color);
    }
  }

  @media (max-width:575px) {
    gap: 15px;
  }
}

.widget_tag_cloud {
  .tagcloud {
    display: flex;
    gap: 10px 12px;
    flex-wrap: wrap;
  }

  .tag-cloud-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 11px 20px 12px;
    border-radius: 30px;
    line-height: 1em;
    letter-spacing: -0.32px;
    border: 1px solid var(--border-color);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--accent-color);
      color: var(--white-color);
    }
  }
}

.cs_post_style_1 {
  .cs_post_thumb {
    display: block;

    img {
      width: 100%;
      transition: transform 0.5s ease;
    }

    &:hover img {
      transform: scale(1.03);
    }
  }

  .cs_post_meta {
    display: flex;
    gap: 10px 16px;
    flex-wrap: wrap;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--border-color);

    .cs_date {
      display: flex;
      gap: 0 10px;
    }

    .cs_author {
      display: flex;
      gap: 0 10px;
    }
  }

  .cs_post_title {
    a {
      background-repeat: no-repeat;
      background-image: linear-gradient(90deg,
          currentColor 0,
          currentColor 100%);
      transition: background-size 0.6s cubic-bezier(0.49, 0.49, 0.08, 1),
        color 0.27s ease-out;
      background-position: 100% calc(100% - 0px);
      background-size: 0 2px;

      &:hover {
        background-size: 100% 2px;
        background-position: 0 calc(100% - 0px);
      }
    }
  }

  .cs_quatation_wrapper {
    background-color: #f1f5ff;
    padding: 30px 55px 50px;
    border-radius: 10px;

    .cs_icon {
      right: 21%;
      bottom: 45%;
    }
  }

  @media (max-width:991px) {
    .cs_quatation_wrapper {
      padding: 30px 20px 30px;

      .cs_icon {
        right: 15%;
        bottom: 20%;
      }
    }

  }

  @media (max-width:767px) {
    .cs_quatation_wrapper {

      .cs_icon {
        right: 5%;
      }
    }

  }
}


.cs_pagination_box {
  display: flex;
  align-items: center;
  gap: 15px;

  .cs_pagination_item {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    border: 1px solid var(--border-color);
    transition: all 0.3s ease;

    &:hover,
    &.cs_active {
      color: var(--white-color);
      border-color: var(--accent-color);
      background-color: var(--accent-color);
    }

    &.cs_active {
      pointer-events: none;
    }
  }

  .cs_pagination_btn {
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);

    &:hover {
      color: var(--accent-color);
    }
  }
}

/*=========================================================
 Contact and Comment Form
===========================================================*/
.cs_form_style_1,
.cs_form_style_2 {
  padding: 41px 50px 50px;

  .cs_form_field {
    display: block;
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    resize: none;
  }

  @media (max-width:1199px) {
    padding: 41px 20px 50px;
  }
}

.cs_form_style_2 {
  padding: 0;
  width: min(100%, 1030px);

  .cs_form_field {
    padding: 22px 35px;
    border: 1px solid var(--border-color);
  }

  @media (max-width:1199px) {
    padding: 41px 20px 50px;
  }
}

.cs_tag_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px 10px;
  flex-wrap: wrap;
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--gray-color6);

  .tagcloud {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      padding: 6px 20px;
      border: 1px solid var(--border-color);
      border-radius: 25px;
      transition: all 0.3s ease;

      &:hover {
        color: var(--white-color);
        border-color: var(--accent-color);
        background-color: var(--accent-color);
      }
    }
  }

  .cs_post_details_meta_tag {
    display: flex;
    align-items: center;
    gap: 0 12px;
  }

  .cs_social_icons {
    a {
      width: 35px;
      height: 35px;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--border-color);
      border-radius: 50%;
      color: var(--secondary-color);

      &:hover {
        color: var(--white-color);
        border-color: var(--accent-color);
        background-color: var(--accent-color);
      }
    }
  }

  @media (max-width:991px) {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}

.cs_map {
  height: 750px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

/*=======================================================
 Post Details 
=========================================================*/
.cs_post_setails {
  >img {
    display: block;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 32px;
  }

  h2 {
    font-size: 27px;
    font-weight: 600;
    color: var(--primary-color);
    font-family: var(--primary-font);
    margin-bottom: 23px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 44px;
    font-family: var(--primary-font);

    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote {
    background-color: var(--gray-color6);
    padding: 30px 23px 25px 140px;
    font-size: 27px;
    font-weight: 600;
    line-height: 1.1em;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-style: normal;
    position: relative;
    margin-bottom: 40px;
    border-radius: 15px;

    img {
      position: absolute;
      left: 50px;
      top: 35px;
    }

    small {
      display: block;
      margin-top: 10px;
      font-size: 16px;
      position: relative;
      padding-left: 70px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 40px;
        height: 2px;
        background-color: var(--primary-color);
      }
    }
  }

  @media (max-width:991px) {
    p {
      margin-bottom: 30px;
    }

    blockquote {
      margin-bottom: 30px;
      padding: 30px 15px 25px 80px;

      img {
        left: 15px;
      }
    }
  }

  @media (max-width:575px) {
    blockquote {
      padding: 30px 20px 25px;

      img {
        display: none;
      }
    }
  }
}

.cs_see_more {
  display: flex;
  gap: 20px;

  .cs_recent_post {
    .cs_recent_post_info {
      p {
        padding-bottom: 16px;
        margin-bottom: 5px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 80%;
          height: 1.2px;
          background: rgba(15, 17, 15, 0.1);
          left: 0;
          bottom: 0;
        }
      }
    }
  }

  @media (max-width:767px) {
    flex-direction: column;

    .cs_recent_post {
      gap: 15px;
    }
  }
}

.cs_comment_list {
  li {
    display: flex;
    align-items: start;
    gap: 20px 35px;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(even) {
      padding-left: 70px;
    }
  }

  .comment_author {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .cs_comment_thumbnail {
    width: 100px;
    height: 100px;
    flex: none;

    img {
      width: 100%;
    }
  }

  .cs_reply:hover {
    color: var(--accent-color);
  }

  @media (max-width:1199px) {
    li {
      &:nth-child(even) {
        padding-left: 40px;
      }
    }
  }

  @media (max-width:991px) {
    li {
      gap: 15px;
      margin-bottom: 30px;

      &:nth-child(even) {
        padding-left: 0;
      }
    }
  }

  @media (max-width:500px) {
    li {
      flex-direction: column;
    }
  }
}

.cs_blog_author {
  border: 1px solid rgba(0, 25, 76, 0.1);
  border-radius: 15px;
  padding: 35px 23px 35px 40px;
  display: flex;
  gap: 30px 40px;

  .cs_blog_author_thumbnail {
    border-radius: 50%;
    flex: none;

    img {
      width: 100%;
    }
  }

  .cs_social_icons {
    gap: 25px;

    a {
      line-height: 1em;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  @media (max-width:1199px) {
    padding: 35px 20px 40px;
  }

  @media (max-width:500px) {
    align-items: flex-start;
    flex-direction: column;
  }
}