/*===============================================================
  09. Slider
=================================================================*/
.cs_slider {
  position: relative;

  &.cs_overflow_visible {
    .slick-list {
      overflow: visible;
    }

    .slick-slide {
      opacity: 0;
      transition: all 0.3s ease;
    }

    .slick-active {
      opacity: 1;
    }
  }
}

.slick-active {
  .cs_card_style_9 {
    .cs_section_heading_style_4 {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.6s ease;
    }
  }
}

.slick-arrow {
  cursor: pointer;
}

.draggable {
  cursor: url(../img/drag.png) 16 9, ew-resize !important;
}

.slick-slide>div {
  display: flex;
  flex-direction: column;
}

.cs_slider_gap_24 {
  .slick-slide {
    padding-left: 12px;
    padding-right: 12px;
  }

  .slick-list {
    margin-left: -12px;
    margin-right: -12px;
  }
}

/*=================================================
 Slider Arrows and Pagination
===================================================*/
.cs_slider_arrows_style_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  .cs_left_arrow,
  .cs_right_arrow {
    width: 44px;
    height: 44px;
    padding: 10px;
    color: var(--white-color);
    font-size: 30px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;

    &:hover {
      color: var(--white-color);
      background-color: var(--dark-blue);
    }
  }

  .cs_left_arrow {
    left: 30px;
  }

  .cs_right_arrow {
    right: 30px;
  }

  // @media (max-width: 991px) {
  //   position: initial;
  //   transform: initial;
  //   margin-top: 24px;
  //   justify-content: space-between;
  // }
}

.cs_slider_arrows_style_2 {
  // position: absolute;
  // // left: 0;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  height: 100%;
  // gap: 100px;
}

.cs_pagination_arrow {
  position: absolute;
  left: 5%;
  bottom: 30%;
  transform: translateY(-30%);
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 5;

  .cs_left_arrow {
    position: absolute;
    top: 0;
    width: 30px;
  }

  .cs_right_arrow {
    position: absolute;
    bottom: 0;
    width: 30px;
  }
}

.cs_pagination.cs_style_1 {
  ul {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    button {
      height: 13px;
      width: 13px;
      background-color: #c7c7c7;
      border-radius: 50%;
      margin: 0;
      cursor: pointer;
      position: relative;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      padding: 0;
      font-size: 0;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        border: 1px solid var(--accent-color);
        border-radius: 50%;
        display: none;
      }
    }

    &.slick-active {
      button {
        background-color: var(--accent-color);

        &::after {
          display: block;
        }
      }
    }
  }
}

.cs_pagination.cs_style_2 {
  margin-left: 10px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    button {
      height: 4px;
      width: 4px;
      background-color: #c7c7c7;
      border-radius: 50%;
      margin: 0;
      cursor: pointer;
      position: relative;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      padding: 0;
      font-size: 0;
      position: relative;
    }

    &.slick-active {
      button {
        background-color: #3c5e39;

        &::after {
          display: block;
        }
      }
    }
  }
}

/*=======================================================
 Horizontal Slider
=========================================================*/
.cs_brand {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .cs_brand_title {
    position: relative;
    width: min(284px, 100%);
    padding-right: 20px;

    &::before {
      content: "";
      position: absolute;
      border-left: 1px solid var(--accent-color);
      height: 44px;
      padding-right: 30px;
      right: 0;
    }
  }

  .cs_brand_slider_wrapper_style_1,
  .cs_brand_slider_wrapper_style_2 {
    width: min(920px, 100%);
    overflow: hidden;

    .cs_slider_in {
      min-width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      white-space: nowrap;
    }

    .cs_brands_list,
    .cs_brands_list_style_2 {
      min-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0px 90px;
      margin: 0 45px;
      flex: none;
      animation: slider-left 30s linear infinite;
    }

    .cs_brands_list_style_2 {
      animation-direction: reverse;
    }
  }

  .cs_brand_slider_wrapper_style_2 {
    width: 100%;

    .cs_brands_list,
    .cs_brands_list_style_2 {
      gap: 0px 30px;
      margin: 0 15px;
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: start;
    gap: 40px;

    .cs_brand_title {
      &::before {
        display: none;
      }
    }

    .cs_brand_slider_wrapper_style_1,
    .cs_brand_slider_wrapper_style_2 {

      .cs_brands_list,
      .cs_brands_list_style_2 {
        gap: 0 40px;
        margin: 0 20px;
      }
    }
  }
}

.cs_banner_slider {
  .cs_pagination.cs_style_1 {
    width: 165px;
    height: 31px;
    border-radius: 66px 66px 0 0;
    background: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
  }
}

@keyframes slider-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slider-right {
  0% {
    transform: translateX(-0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 1399px) {
  .cs_slider_arrows_style_1 {
    .cs_left_arrow {
      left: 0;
    }
  }

  .cs_slider_arrows_style_1 {
    .cs_right_arrow {
      right: 0;
    }
  }
}

@media (max-width: 991px) {
  .cs_pagination_arrow {
    bottom: 2%;
    left: 4%;

    .cs_pagination.cs_style_2 {
      display: none;
    }

    .cs_slider_arrows_style_2 {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .cs_left_arrow,
    .cs_right_arrow {
      position: initial;
    }
  }
}

@media (max-width: 767px) {
  .cs_slider_arrows_style_1 {
    display: none !important;
  }
}