/*==============================================================
  10. About
================================================================*/
.cs_about_style_1 {
  .cs_layer_img_box {
  padding-right: 19%;
  
  .cs_layer_img_1 {
    img{
      width: 100%;
    }
  }
  .cs_layer_img_2{
    position: absolute;
    right: 0;
    bottom: 60px;
    padding-left: 40%;
    border-radius: 190px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);

    img {
    border: 10px solid var(--white-color);    
    width: 100%;
    }
  }
}

.cs_about_text_wrapper {
  max-width: min(100%, 520px);
  padding-left: 10px;

  li {
    position: relative;
    padding-left: 33px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .cs_feature_list_icon {
    color: var(--accent-color);
    position: absolute;
    left: 0;
    top: 0;
    
  }
}

@media (max-width: 1199px) {
  .cs_layer_img_box {
    padding-right: 14%;
  }
  .cs_about_text_wrapper {
    padding-left: 0;
  }
}
}

.cs_about_style_2 {
  .cs_section_heading {
    width: min(995px, 100%);
  }

  .cs_iconbox_style_4 {
    display: flex;
    gap: 20px 60px;
  }
  .cs_iconbox_info {
    width: min(366px, 100%);
  }
  .cs_iconbox_icon {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 55px;
      height: 55px;
      flex-shrink: 0;
      background-color: var(--accent-color);
      opacity: .10;
      border-radius: 50%;
      left: 23px;
    }
  }
  .cs_about_left {
    padding-top: 20px;
  }

   .cs_about_img_left{
      padding-left: 90px;
      img {
        width: 100%;
      }
    }
    .cs_about_img_right {
      img {
        width: 100%;
      }
    } 

  @media (max-width: 991px) {
      .cs_about_img_left {
        padding-left: 0;
      }
  }
}

.cs_about_style_3 {

  .cs_about_img {
  position: relative;
    img {
      // width: 100%;
      position: relative;
      z-index: 2;
    }
    &::before {
      content: '';
      background-color: var(--accent-color);
      position: absolute;
      top: 105px;
      width: 671px;
      height: 368px;
    }
  }
}