.cs_layer_img_box {
  padding-right: 19%;

  .cs_layer_img_1 {
    img {
      width: 100%;
    }
  }
  .cs_layer_img_2 {
    position: absolute;
    right: 0;
    bottom: 60px;
    padding-left: 40%;
    border-radius: 190px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);

    img {
      border: 10px solid var(--white-color);
      width: 100%;
    }
  }
  .cs_layer_img_2_in {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    padding: 47px 0;

    &::after {
      content: "";
      position: absolute;
      background-color: var(--white-color);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    img {
      position: relative;
      z-index: 1;
      border: none;
    }
  }
}

.cs_layer_img_box_2 {
  padding-left: 30%;

  .cs_layer_img_1 {
    img {
      width: 100%;
    }
  }

  .cs_layer_img_2 {
    position: absolute;
    left: 0;
    bottom: 60px;
    border-radius: 50%;
    padding-right: 40%;

    img {
      box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
      border: 10px solid var(--white-color);
      width: 100%;
    }
  }
}

.cs_layer_imgbox_wrapper_1 {
  .cs_layer_img_box {
    padding-right: 15%;
  }

  .cs_layer_img_1 {
    width: 50vw;
    margin-left: calc(100% - 50vw);
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .cs_layer_img_2 {
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    box-shadow: none;
    padding-left: 50%;
    height: 100%;
  }

  @media (max-width: 991px) {
    .cs_layer_img_1 {
      margin-left: 0;
      width: 100%;
    }
    .cs_layer_img_2 {
      padding-left: 65%;
    }
  }
}
.cs_layer_imgbox_wrapper_2 {
  .cs_layer_img_box {
    padding-left: 28%;
    padding-right: 0;
  }
  .cs_layer_img_1 {
    width: 50vw;
  }

  .cs_layer_img_2 {
    padding-right: 48%;
    padding-left: 0;
    box-shadow: none;
    bottom: 0;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (max-width: 991px) {
    .cs_layer_img_box {
      padding-left: 20%;
    }
    .cs_layer_img_1 {
      width: 100%;
    }
    .cs_layer_img_2 {
      padding-right: 61%;
    }
  }
}
/*==============================================================
  10. About
================================================================*/
.cs_about_style_1 {
  .cs_about_text_wrapper {
    max-width: min(100%, 520px);
    padding-left: 10px;

    li {
      position: relative;
      padding-left: 33px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    .cs_feature_list_icon {
      color: var(--accent-color);
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  @media (max-width: 1199px) {
    .cs_layer_img_box {
      padding-right: 14%;
    }
    .cs_about_text_wrapper {
      padding-left: 0;
    }
  }
}

.cs_about_style_2 {
  .cs_section_heading {
    width: min(995px, 100%);
  }

  .cs_iconbox_style_4 {
    display: flex;
    gap: 20px 60px;
  }
  .cs_iconbox_info {
    width: min(366px, 100%);
  }
  .cs_iconbox_icon {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 55px;
      height: 55px;
      flex-shrink: 0;
      background-color: var(--accent-color);
      opacity: 0.1;
      border-radius: 50%;
      left: 23px;
    }
  }
  .cs_about_left {
    padding-top: 20px;
  }

  .cs_about_img_left {
    padding-left: 90px;
    img {
      width: 100%;
    }
  }
  .cs_about_img_right {
    img {
      width: 100%;
    }
  }

  @media (max-width: 991px) {
    .cs_about_img_left {
      padding-left: 0;
    }
  }
}

.cs_about_style_3 {
  .cs_about_img {
    position: relative;
    img {
      position: relative;
      z-index: 2;
    }
    &::before {
      content: "";
      background-color: var(--accent-color);
      position: absolute;
      top: 105px;
      width: 100%;
      height: 368px;
    }
  }

  @media (min-width: 1400px) {
    .container {
      width: 1900px;
    }
  }
}

.cs_about_style_4 {
  .cs_img {
    img {
      width: 100%;
    }
  }
  .cs_about_right {
    padding-left: 63px;
  }
  .cs_section_heading {
    width: min(490px, 100%);
  }

  .cs_about_detais {
    display: flex;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;

    .cs_about_list {
      li {
        position: relative;
        left: 28px;

        &::before {
          content: "";
          position: absolute;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: var(--accent-color);
          top: 50%;
          transform: translateY(-50%);
          left: -28px;
        }
      }
    }
  }

  .cs_about_details_img {
    img {
      width: 100%;
    }
  }

  @media (max-width: 991px) {
    .cs_about_right {
      padding-left: 0;
    }
  }
}

.cs_about_style_5 {
  .cs_about_img {
    width: min(500px, 100%);
    // padding: 0 80px 0 20px;
    padding: 115px 80px 90px 40px;
    img {
      position: relative;
      z-index: 2;
    }

    &::after {
      content: "";
      // height: 510px;
      height: 93%;
      width: 240px;
      border-radius: 0 333px 333px 0;
      background: #8cfe64;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      content: "";
      // height: 560px;
      height: 100%;
      width: 270px;
      border-radius: 0 333px 333px 0;
      background: #8cfe64;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.cs_about_style_10 {
  .container {
    max-width: 1460px;
  }
  .cs_about_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding-left: 0;
    gap: 25px;

    li {
      position: relative;
      padding-left: 40px;

      .cs_circle {
        position: absolute;
        left: 0;
        top: 7px;
        display: inline-block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: var(--accent-color);

        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          bottom: 6px;
          width: 21px;
          height: 21px;
          border-radius: 50%;
          background-color: transparent;
          border: 1px solid var(--accent-color);
        }
      }

      // &::after {
      //   content: "";
      //   position: absolute;
      //   left: 4px;
      //   bottom: 10px;
      //   width: 13px;
      //   height: 13px;
      //   border-radius: 50%;
      //   background-color: var(--accent-color);
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      // }
    }
  }

  .cs_about_left {
    display: flex;
    align-items: end;
    gap: 30px;

    .cs_about_img_1 {
      position: relative;
      img {
        position: relative;
        z-index: 1;
      }

      &::after {
        content: "";
        width: 70%;
        height: 72%;
        background: var(--gray-color5);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .cs_about_img_2 {
      position: relative;
      img {
        position: relative;
        z-index: 1;
      }

      &::after {
        content: "";
        width: 85%;
        height: 70%;
        background: var(--gray-color5);
        position: absolute;
        bottom: 0;
        left: -20px;
      }
    }
  }
}
