/*==============================================================
  11. Accordians
================================================================*/
.cs_accordian {
  margin-bottom: 15px;

  .cs_accordian_head {
    position: relative;
    padding: 20px 70px 20px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--primary-color);
    letter-spacing: -0.4px;

    &:hover {
      color: var(--accent-color);

      .cs_accordian_toggle {
        border-color: var(--accent-color);

        &::after,
        &::before {
          background-color: var(--accent-color);
        }
      }
    }
  }

  .cs_accordian_body {
    padding: 10px 56px 30px 30px;
  }

  &.active {
    .cs_accordian_head {
      color: var(--accent-color);
      pointer-events: none;

      .cs_accordian_toggle {
        border-color: var(--accent-color);

        &::before,
        &::after {
          background-color: var(--accent-color);
          transform: rotate(0deg);
        }
      }
    }
  }

  &.cs_style_1 {
    border: 1px solid rgba(224, 38, 178, 0.15);
  }

  &.cs_style_2 {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 27px;

    &:not(:last-child) {
      margin-bottom: 26px;
    }

    .cs_accordian_head {
      padding: 0;
      padding-right: 70px;

      .cs_accordian_toggle {
        position: absolute;
        right: 0;
        top: 0;
        pointer-events: none;
      }
    }

    .cs_accordian_body {
      margin-bottom: 7px;
      width: min(580px, 100%);
      font-size: 15px;
      padding: 0;
    }

    &.active {
      .cs_accordian_head {
        margin-bottom: 18px;
        color: var(--accent-color);
      }

      .cs_accordian_toggle {
        transform: rotate(180deg);
      }
    }
  }

  &.cs_style_3 {
    border-radius: 8px;
    border: 1px solid rgba(224, 38, 178, 0.15);
    background: var(--white-color);
  }

  &.cs_style_4 {
    border-bottom: 1px solid var(--border-color);

    &:last-child {
      margin-bottom: 0;
    }

    .cs_accordian_head {
      padding: 10px 0;
      padding-right: 40px;
      margin-bottom: 17px;

      .cs_accordian_toggle {
        position: absolute;
        right: 0;
        top: 8px;
        pointer-events: none;
        transition: all 0.4s ease;
      }
    }

    .cs_accordian_body {
      padding: 0 0 33px 0;
      margin-top: -10px;
    }

    &.active {
      .cs_accordian_head {
        margin-bottom: 18px;
        color: var(--accent-color);
      }

      .cs_accordian_toggle {
        transform: rotate(180deg);
      }
    }
  }

  @media (max-width: 575px) {
    .cs_accordian_head {
      padding: 20px 40px 20px 15px;
    }

    .cs_accordian_body {
      padding: 10px 0;
    }
  }
}

.cs_accordian_wrapper_1 {
  max-width: 740px;
  margin: 0 auto;
  position: relative;
  z-index: 5;

  .cs_section_title {
    letter-spacing: -1.35px;
  }

  .cs_accordian {

    .cs_accordian_toggle {
      border: 2px solid var(--primary-color);
      border-radius: 50%;
      position: absolute;
      right: 30px;
      top: 26px;
      width: 20px;
      height: 20px;
      pointer-events: none;

      &::before,
      &::after {
        content: "";
        height: 2px;
        width: 10px;
        background-color: var(--primary-color);
        position: absolute;
        top: 7px;
        left: 3px;
        transition: all 0.3s ease;
      }

      &::after {
        transform: rotate(90deg);
      }
    }

    &.active {
      span {
        border-bottom: 1px solid var(--accent-color);
      }
    }
  }

  @media (max-width: 575px) {
    .cs_accordian_head {
      padding: 20px 45px 20px 15px;
    }

    .cs_accordian {
      .cs_accordian_toggle {
        right: 15px;
      }
    }

    .cs_accordian_body {
      padding: 5px 15px 20px 15px;
    }
  }
}

.cs_avatar_wrapper_1 {
  .cs_avatar {
    position: absolute;
    display: inline-block;

    img {
      width: 100%;
      border-radius: 50%;
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;

      border: 1px solid rgba(1, 13, 9, 0.15);
      border-radius: 50%;
      z-index: 1;
    }

    &:nth-child(1) {
      top: 300px;
      left: 15%;

      &::before {
        top: 0px;
        right: -10px;
        left: -5px;
        bottom: -15px;
      }
    }

    &:nth-child(2) {
      top: 500px;
      left: 129px;

      &::before {
        top: -12px;
        right: -20px;
        bottom: -8px;
        left: 0;
      }
    }

    &:nth-child(3) {
      bottom: 162px;
      left: 17%;

      &::before {
        top: -14px;
        right: -11px;
        bottom: -1px;
        left: -4px;
      }
    }

    &:nth-child(4) {
      top: 300px;
      right: 15%;

      &::before {
        top: -2px;
        right: -3px;
        bottom: -13px;
        left: -12px;
      }
    }

    &:nth-child(5) {
      top: 500px;
      right: 9%;

      &::before {
        top: -5px;
        right: -2px;
        bottom: -15px;
        left: -18px;
      }
    }

    &:nth-child(6) {
      bottom: 145px;
      right: 17%;

      &::before {
        top: -4px;
        right: -1px;
        bottom: -11px;
        left: -14px;
      }
    }
  }

  @media (max-width: 1399px) {
    .cs_avatar {
      &:nth-child(1) {
        left: 12%;
      }

      &:nth-child(2) {
        left: 6%;
      }

      &:nth-child(3) {
        left: 11%;
      }

      &:nth-child(4) {
        right: 12%;
      }

      &:nth-child(5) {
        right: 6%;
      }

      &:nth-child(6) {
        right: 11%;
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_avatar {
      display: none;
    }
  }
}

.cs_accordian_wrapper_2 {
  .cs_accordian {
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
    background: #f9f9f9;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    .cs_accordian_head {
      padding: 15px 66px 15px 32px;
      position: relative;
      cursor: pointer;
      color: var(--primary-color);
      transition: all 0.3s ease;

      .cs_accordian_toggle {
        position: absolute;
        right: 30px;
        top: 15px;
        transition: all 0.3s ease;
      }

      &:hover {
        color: var(--accent-color);
      }
    }

    .cs_accordian_body {
      padding: 20px 30px 30px;
      color: var(--secondary-color);
    }

    &.active {
      .cs_accordian_head {
        background-color: var(--accent-color);
        color: var(--white-color);
        pointer-events: none;

        .cs_accordian_toggle {
          transform: rotate(180deg);
        }
      }
    }
  }

  @media (max-width: 575px) {

    .cs_accordian {
      .cs_accordian_head {
        padding: 20px 45px 20px 15px;

        .cs_accordian_toggle {
          right: 15px;
          top: 20px;
        }
      }



      .cs_accordian_body {
        padding: 5px 15px 20px 15px;
      }
    }

  }
}

.cs_accordian_section {
  background: rgba(0, 149, 246, 0.05);

  .cs_section_title {
    letter-spacing: -1.44px;
  }
}

.cs_accordian_wrapper_3 {
  padding-left: 185px;

  .cs_accordian {
    border: 0;
    padding: 0;
    margin-bottom: 40px;

    .cs_accordian_body {
      padding: 30px 0 0 0;
    }

    .cs_accordian_head {
      padding: 0 0 25px 0;
      color: var(--primary-color);
      border-bottom: 1px solid rgba(2, 6, 38, 0.07);
      cursor: pointer;
    }

    .cs_accordian_toggle {
      right: 0;
      top: 0;
      transition: all 0.3s ease;
      pointer-events: none;
    }

    &.active {
      .cs_accordian_head {
        pointer-events: none;
      }

      .cs_accordian_toggle {
        transform: rotate(90deg);
      }
    }
  }

  @media (max-width: 1200px) {
    padding-left: 100px;
  }

  @media (max-width: 992px) {
    padding-left: 0;
  }
}

.cs_accordian_wrapper_4 {
  position: relative;

  .cs_left_side {
    padding-right: 45px;
  }

  .cs_accordian_btn {
    background: #36adf0;
    padding: 27px 50px 22px 40px;
    color: var(--white-color);
    position: relative;

    .cs_cross_btn {
      position: absolute;
      right: 20px;
      top: 29px;

      &:hover {
        opacity: 0.75;
      }
    }

    a {
      display: inline-block;
      padding: 10px 0;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &::after {
    content: "";
    width: 1898px;
    height: 1260px;
    border-radius: 50%;
    background: rgba(54, 173, 240, 0.1);
    position: absolute;
    right: 442px;
    top: -43px;
    z-index: 1;
  }

  // .cs_accordian.cs_style_2 {
  //   margin-bottom: 15px;

  //   .cs_accordian_body {
  //     padding: 0;
  //   }

  //   .cs_accordian_head {
  //     padding: 10px 0;
  //   }

  // }

  @media (max-width: 1199px) {
    .cs_section_title {
      br {
        display: none !important;
      }
    }

    .cs_accordian_btn {
      padding: 27px 45px 22px 20px;

      .cs_accordian_head {
        br {
          display: none;
        }
      }
    }
  }
}