/*==============================================================
  11. Accordians
================================================================*/
.cs_accordian_wraper_style_1 {
    max-width: 740px;
  margin: 0 auto;
}
.cs_accordian.cs_style_1 {
  padding: 20px 30px;
  margin-bottom: 15px;

  .cs_accordian_head {
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;

    .cs_accordian_toggle {
      border:  2px solid #001726;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      pointer-events: none;

      &::before,
      &::after {
        content: '';
        height: 2px;
        width: 60%;
        background-color: #001726;
        position: absolute;
        transition: all 0.3s ease;
      }
      &::after {
        transform: rotate(90deg);
      }
    }

    &:hover {
      color: var(--accent-color);
      .cs_accordian_toggle {
        border-color: var(--accent-color);
        &::after,
        &::before {
          background-color: var(--accent-color);
        }
      }
    }
  }

  .cs_accordian_body {
    margin-top: 30px;
    color: #696969;
  }

  &.active {
    .cs_accordian_head {
      color: var(--accent-color);
      span {
        border-bottom: 1px solid var(--accent-color);
      }
      .cs_accordian_toggle {
        border-color: var(--accent-color);
        &::before,
        &::after {
          background-color: var(--accent-color);
          transform: rotate(0deg);
        }
      }
    }
  }
}
.cs_avatar_wraper_style_1 {
  .cs_avatar {
    position: absolute;
    display: inline-block;

    img {
      width: 100%;
      border-radius: 50%;
      position: relative;
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
     
      border: 1px solid rgba(1, 13, 9, 0.15);
      border-radius: 50%;
      z-index: 1;
    }

    &:nth-child(1) {
      top: 300px;
      left: 270px;

      &::before {
        top: 0px;
        right: -10px;
        left: -5px;
        bottom: -15px;
      }
    }
    &:nth-child(2) {
      top: 500px;
      left: 129px;

      &::before {
        top: -12px;
        right: -20px;
        bottom: -8px;
        left: 0px;
      }
    }
    &:nth-child(3) {
      bottom: 162px;
      left: 245px;

       &::before {
        top: -14px;
        right: -11px;
        bottom: -1px;
        left: -4px;
      }
    }
    &:nth-child(4) {
      top: 300px;
      right: 340px;

       &::before {
        top: -2px;
        right: -3px;
        bottom: -13px;
        left: -12px;
      }
    }
    &:nth-child(5) {
      top: 500px;
      right: 130px;

       &::before {
        top: -5px;
        right: -2px;
        bottom: -15px;
        left: -18px;
      }
    }
    &:nth-child(6) {
      bottom: 145px;
      right: 270px;

       &::before {
        top: -4px;
        right: -1px;
        bottom: -11px;
        left: -14px;
      }
    }
  }
}