/*==============================================================
  11. Accordians
================================================================*/
.cs_accordian_wraper_style_1 {
    max-width: 740px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}
.cs_accordian.cs_style_1 {
  margin-bottom: 15px;

  .cs_accordian_head {
    position: relative;
    padding: 20px 70px 20px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--primary-color);
    letter-spacing: -0.4px;

    .cs_accordian_toggle {
      border:  2px solid #001726;
      border-radius: 50%;
      position: absolute;
      right: 30px;
      top: 27px;
      width: 18px;
      height: 18px;
      pointer-events: none;

      &::before,
      &::after {
        content: '';
        height: 2px;
        width: 60%;
        background-color: #001726;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
      }
      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    &:hover {
      color: var(--accent-color);
      .cs_accordian_toggle {
        border-color: var(--accent-color);
        &::after,
        &::before {
          background-color: var(--accent-color);
        }
      }
    }
  }

  .cs_accordian_body {
    padding: 0 56px 40px 30px;
    color: #696969;
  }

  &.active {
    .cs_accordian_head {
      color: var(--accent-color);
      span {
        border-bottom: 1px solid var(--accent-color);
      }
      .cs_accordian_toggle {
        border-color: var(--accent-color);
        &::before,
        &::after {
          background-color: var(--accent-color);
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
    }
  }
}
.cs_avatar_wraper_style_1 {
  .cs_avatar {
    position: absolute;
    display: inline-block;

    img {
      width: 100%;
      border-radius: 50%;
      position: relative;
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
     
      border: 1px solid rgba(1, 13, 9, 0.15);
      border-radius: 50%;
      z-index: 1;
    }

    &:nth-child(1) {
      top: 300px;
      left: 15%;

      &::before {
        top: 0px;
        right: -10px;
        left: -5px;
        bottom: -15px;
      }
    }
    &:nth-child(2) {
      top: 500px;
      left: 129px;

      &::before {
        top: -12px;
        right: -20px;
        bottom: -8px;
        left: 0;
      }
    }
    &:nth-child(3) {
      bottom: 162px;
      left: 17%;

       &::before {
        top: -14px;
        right: -11px;
        bottom: -1px;
        left: -4px;
      }
    }
    &:nth-child(4) {
      top: 300px;
      right: 15%;

       &::before {
        top: -2px;
        right: -3px;
        bottom: -13px;
        left: -12px;
      }
    }
    &:nth-child(5) {
      top: 500px;
      right: 9%;

       &::before {
        top: -5px;
        right: -2px;
        bottom: -15px;
        left: -18px;
      }
    }
    &:nth-child(6) {
      bottom: 145px;
      right: 17%;

       &::before {
        top: -4px;
        right: -1px;
        bottom: -11px;
        left: -14px;
      }
    }
  }

  @media (max-width : 1399px) {
    .cs_avatar {
      &:nth-child(1) {
        left: 12%;
      }
      &:nth-child(2) {
        left: 6%;
      }
      &:nth-child(3) {
        left: 11%;
      }
      &:nth-child(4) {
        right: 12%;
      }
      &:nth-child(5) {
        right: 6%;
      }
      &:nth-child(6) {
        right: 11%;
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_avatar {
      display: none;
    }
  }
}