/*==============================================================
  29. beauty Product
================================================================*/
.cs_beauty_product_wrapper_1 {
  background-color: var(--gray-color5);
  position: relative;

  .cs_shape_1 {
    width: 92%;
    height: 426px;
    border-radius: 49%;
    background: var(--white-color);
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.cs_glow_performance {
  .cs_section_heading_style_1 {
    padding-left: 100px;
    width: min(900px, 100%);
  }

  .cs_bg_img {
    img {
      width: 100%;
    }
  }

  @media (max-width: 1199px) {
    .cs_bg_img {
      padding: 150px 0;
    }
  }

  @media (max-width: 991px) {
    .cs_section_heading_style_1 {
      width: 100%;
      padding-left: 0px;
    }

    .cs_bg_img {
      padding: 0;
    }
  }
}

.cs_card_wrapper_2 {
  border-top: 1px solid var(--border-color);

  .cs_right_side {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cs_section_heading_style_1 {
    width: min(655px, 100%);
  }

  @media (min-width:1400px) {
    .container {
      max-width: 1380px;
    }
  }

  @media (max-width:1399px) {
    .cs_right_side {
      padding-left: 0;
    }

  }
}

.cs_card_wrapper_3 {
  .container {
    max-width: 1400px !important;
  }
}

.cs_beauty_product_wrapper_2 {
  .container {
    max-width: 1360px;
  }
}

.cs_product_featuars {
  font-size: 57px;
  font-weight: 600;
  line-height: 1.3em;
  color: var(--black-color);

  .cs_star {
    padding: 0 25px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .cs_product_img {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      width: 100%;
      height: 40%;
      background-color: var(--border-color);
    }

    img {
      position: relative;
      z-index: 1;
      flex: none;
    }

    &:hover {
      &::after {
        background-color: var(--accent-color);
      }
    }
  }

  @media (max-width:991px) {
    font-size: 42px;

    .cs_product_img {
      width: 130px;

    }
  }

  @media (max-width:575px) {
    font-size: 36px;

    .cs_product_img {
      width: 80px;

    }
  }
}