/*===================================================
23. Before After Slider
=====================================================*/
.cs_before_after_style_1 {
  .cs_before_after {
    width: 100%;
    position: relative;
    height: 580px;
    border-radius: 5px;
  }

  .cs_before,
  .cs_after {
    position: relative;

    span {
      border: 1px solid var(--white-color);
      border-radius: 5px;
      padding: 6px 20px;
      position: absolute;
      top: 52px;
      color: var(--white-color);
    }
  }

  .cs_before {
    span {
      left: 52px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(7, 2, 2, 0.2);
    }
  }

  .cs_after {
    span {
      right: 52px;
      border-color: var(--white-color);
    }
  }

  .cs_before_after .cs_single_slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-position: top left;
    background-repeat: no-repeat;
    border-radius: inherit;
  }

  .cs_before_after .cs_single_slide.cs_before {
    right: 50%;
  }

  .cs_before_after .cs_handle_before_after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    left: 50%;
    margin-left: -15px;
    cursor: ew-resize;
  }

  .cs_handle_before_after span {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    background: var(--white-color);
    box-shadow: 0px 10px 50px 0px rgba(0, 55, 106, 0.2);
    backdrop-filter: blur(40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }

  .cs_before_after .cs_handle_before_after:before {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    left: 50%;
    margin-left: -1px;
    background: var(--white-color);
  }

  .cs_handle_before_after span:before,
  .cs_handle_before_after span:after {
    font-size: 16px;
    color: var(--accent-color);
    font-weight: 900;
    font-family: "font awesome 5 free";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .cs_handle_before_after span:before {
    content: "\f053";
    left: 12px;
  }

  .cs_handle_before_after span:after {
    content: "\f054";
    right: 12px;
  }

  .cs_before_after_right {
    padding-left: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cs_section_heading_style_1 {
      width: min(355px, 100%);
    }

    .cs_shape_2 {
      right: 26%;
      top: 0;
    }

    .cs_side_img_wrapper {
      top: 20px;
      right: 50px;

      img {
        position: relative;
        z-index: 2;
      }

      &::before {
        content: "";
        position: absolute;
        width: 246px;
        left: -62px;
        top: 38px;
        height: 158px;
        background-color: #e8e8e8;
      }
    }
  }

  .cs_arrow_down {
    color: #b1b1b1;
    font-size: 18px;
    right: 130px;
    top: -66px;

    &::before {
      content: "\f107";
      font-weight: 900;
      font-family: "Font Awesome 6 Free";
      position: absolute;
      top: 0;
      animation: dropDown 3s infinite;
    }
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1500px;
    }
  }

  @media (max-width: 1400px) {
    .cs_before_after {
      height: 420px;
    }

    .cs_before_after_right {
      .cs_section_heading_style_1 {
        width: min(271px, 100%);
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_before_after {
      height: 517px;
    }

    .cs_before_after_right {
      .cs_section_heading_style_1 {
        width: 100%;
      }
    }

    .cs_before_after_right {
      padding-left: 0;
    }

    .cs_side_img_wrapper {
      position: relative !important;
      right: -64px !important;
      top: 85px !important;
    }

    .cs_arrow_down {
      left: 0px;
    }
  }

  @media (max-width: 767px) {

    .cs_before_after {
      height: 350px;
    }
  }
}

@keyframes dropDown {
  100% {
    top: 80px;
    opacity: 0.5;
  }
}