.cs_card_style_1 {
  height: 100%;
  width: 100%;
  .cs_card_thumbnail {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 01s ease;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: inherit;
    }
  }

  .cs_card_info {
    position: absolute;
    bottom: 56px;
    left: 50%;
    transform: translate(-50%);
    width: min(300px, 100%);
    z-index: 2;
  }

  &:hover {
    img {
      transform: scale(1.03);
    }
  }
}

.cs_text_content {
  border-bottom: 1px solid #e6e5e5;

  .cs_text_wrapper {
    max-width: 360px;
    .cs_text {
      &:nth-child(even) {
        padding-left: 80px;
      }
    }
  }

  .cs_order_card {
    padding: 105px 44px 175px 35px;
    background-color: var(--accent-color);
    clip-path: polygon(
      50% 2%,
      100% 0,
      100% 60%,
      100% 100%,
      50% 98%,
      0 100%,
      0 0
    );
  }

  @media (max-width: 991px) {
    .cs_text_wrapper {
      margin-left: 0px !important;
    }
  }
}

.cs_card_style_3 {
  border-radius: 5px;
  background: #f2f5fa;
  padding: 38px 20px 30px;

  .cs_price {
    background: linear-gradient(90deg, #e026b2 0%, #007aff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.cs_card_style_4 {
  width: min(100%, 1045px);

  .cs_card_thumbnail {
    img {
      width: 100%;
    }
  }
}

.cs_card_style_6 {
  border-radius: 35px;
  height: 100%;

  .cs_card_thumbnail {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .cs_card_info {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 52px 30px;
  }
}

.cs_card_style_7 {
  background-color: rgba(253, 160, 21, 0.15);
  border-radius: 30px;
  overflow: hidden;
  display: flex;

  h2 {
    margin-bottom: 22px;
  }
  h3 {
    margin-bottom: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: var(--accent-color);
    }
  }
  p {
    margin-bottom: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cs_card_img {
    width: 48%;
    flex: none;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.08);
      }
    }
  }
  .cs_card_info {
    padding: 50px 40px;
  }

  .cs_btn_style_1 {
    padding: 20px 41px;
    border-radius: 50px;
  }

  @media (max-width: 1399px) {
    .cs_card_info {
      padding: 50px 15px;
    }
  }

  @media (max-width: 1199px) {
    .cs_card_img {
      width: 51%;
    }

    .cs_card_info {
      padding: 35px 15px 40px;

      h2 {
        margin-bottom: 20px;
      }

      h3 {
        margin-bottom: 24px;
      }
      p {
        margin-bottom: 30px;
      }
    }
  }

  @media (max-width: 575px) {
    flex-direction: column;

    .cs_card_img {
      width: 100%;
    }
  }
}
