/*==============================================================
  13. Cards
================================================================*/
.cs_card_style_1 {
  height: 100%;
  width: 100%;

  .cs_card_thumbnail {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 01s ease;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: inherit;
    }
  }

  .cs_card_info {
    position: absolute;
    padding: 20px 40px 56px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
  }

  &:hover {
    img {
      transform: scale(1.03);
    }
  }

  @media (max-width: 1399px) {
    .cs_card_info {
      padding: 20px 20px 56px;
    }
  }
}

.cs_text_content {
  border-bottom: 1px solid var(--border-color);

  .cs_text_wrapper {
    max-width: 360px;

    .cs_text {
      &:nth-child(even) {
        padding-left: 80px;
      }
    }
  }

  .cs_order_card {
    padding: 105px 44px 175px 35px;
    background-color: var(--accent-color);
    clip-path: polygon(50% 2%,
        100% 0,
        100% 60%,
        100% 100%,
        50% 98%,
        0 100%,
        0 0);

    .cs_btn_style_4 {
      .cs_icon_left {
        color: var(--white-color);
        background-color: var(--accent-color);
      }
    }
  }

  @media (max-width: 991px) {
    .cs_text_wrapper {
      margin-left: 0px !important;

      .cs_text {
        &:nth-child(even) {
          padding-left: 40px;
        }
      }
    }

    .cs_order_card {
      padding: 80px 15px 80px 15px;
    }
  }

  @media (max-width: 575px) {
    .cs_text_wrapper {
      .cs_text {
        &:nth-child(even) {
          padding-left: 0px;
        }
      }
    }
  }
}

.cs_card_style_2 {


  .cs_btn_style_4 {
    margin-top: auto;
  }
}

.cs_card_style_3 {
  border-radius: 5px;
  padding: 38px 20px 30px;
  border-color: var(--border-color);
  overflow: hidden;

  .cs_card_title:hover {
    background: linear-gradient(90deg, #e026b2 0%, #007aff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .cs_card_thumbnail {
    transition: all 0.3s ease;
  }

  .cs_price {
    background: linear-gradient(90deg, #e026b2 0%, #007aff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:hover {

    .cs_card_thumbnail {
      transform: scale(1.05);
    }
  }
}

.cs_card_style_4 {
  width: min(100%, 1045px);

  .cs_card_thumbnail {
    img {
      width: 100%;
    }
  }
}

.cs_card_style_6 {
  border-radius: 35px;
  height: 100%;

  .cs_card_thumbnail {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .cs_card_info {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 52px 30px;
  }
}

.cs_card_style_7 {
  background-color: rgba(253, 160, 21, 0.15);
  border-radius: 30px;
  overflow: hidden;
  display: flex;

  h2 {
    margin-bottom: 22px;
  }

  h3 {
    margin-bottom: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: var(--accent-color);
    }
  }

  p {
    margin-bottom: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cs_card_img {
    width: 48%;
    flex: none;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.08);
      }
    }
  }

  .cs_card_info {
    padding: 35px 40px;
  }

  .cs_btn_style_1 {
    padding: 18px 41px;
    border-radius: 50px;
    font-size: 18px;
    color: var(--primary-color);

    &:hover {
      color: var(--accent-color);
    }
  }

  @media (max-width: 1399px) {
    .cs_card_info {
      padding: 50px 15px;
    }
  }

  @media (max-width: 1199px) {
    .cs_card_img {
      width: 51%;
    }

    .cs_card_info {
      padding: 35px 15px 40px;

      h2 {
        margin-bottom: 20px;
      }

      h3 {
        margin-bottom: 24px;
      }

      p {
        margin-bottom: 30px;
      }
    }
  }

  @media (max-width: 575px) {
    flex-direction: column;

    .cs_card_img {
      width: 100%;
    }
  }
}

.cs_card_style_8 {
  background: rgba(54, 173, 240, 0.1);
  padding: 95px 20px 102px 15px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  .cs_card_info {
    width: min(410px, 100%);
  }

  .cs_card_img {
    position: relative;

    img {
      position: relative;
      z-index: 2;
      width: 100%;
    }

    &::before {
      content: "";
      width: 76px;
      height: 560px;
      background: #007aff;
      position: absolute;
      top: 50%;
      left: 100px;
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      width: 76px;
      height: 363px;
      background: #84bfff;
      position: absolute;
      top: 50%;
      left: 192px;
      transform: translateY(-50%);
    }
  }

  .cs_rating {
    &::before {
      font-weight: 900;
      color: rgba(196, 196, 196, 1);
    }

    .cs_rating_percentage {
      color: var(--accent-color);
    }
  }

  .cs_price {
    display: flex;
    align-items: center;
    gap: 33px;

    p {
      &:last-child {
        text-decoration: line-through;
      }
    }
  }

  .cs_btn_style_2 {
    font-size: 16px;
    color: var(--accent-color);
    background-color: var(--white-color);
    padding: 12px 30px;
    border-radius: 0;

    &::before {
      border-radius: 0;
    }

    &::after {
      border-radius: 0;
    }

    &:hover {
      color: var(--white-color);
    }
  }

  @media (max-width: 1500px) {
    .cs_card_img {
      &::before {
        left: 50px;
      }

      &::after {
        left: 140px;
      }
    }
  }

  @media (max-width: 1299px) {
    .cs_card_img {
      &::after {
        left: 140px;
      }

      &::before {
        left: 45px;
      }
    }
  }

  @media (max-width: 575px) {
    flex-direction: column;

    .cs_card_img {
      &::after {
        display: none;
      }

      &::before {
        display: none;
      }
    }
  }
}

.cs_top {
  position: relative;
  z-index: 2;

  &::after {
    content: "";
    width: 2400px;
    height: 1164px;
    border-radius: 0 0 1000px 1000px;
    background: #f8fcff;
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
  }

  @media (max-width: 1199px) {
    &::after {
      top: 42px;
    }
  }

  @media (max-width: 991px) {
    &::after {
      top: 0;
      height: 1330px;
    }
  }

  @media (max-width: 767px) {
    &::after {
      height: 1492px;
    }

    @media (max-width: 575px) {
      &::after {
        height: 1692px;
      }
    }
  }
}

.cs_bottom {
  padding-top: 285px;

  .container-fluid {
    padding: 0 130px;
  }

  @media (max-width: 1399px) {
    .container-fluid {
      padding: 0 40px;
    }
  }

  @media (max-width: 1199px) {
    padding-top: 100px;
  }
}

.cs_bottom_in {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;

  .cs_card_style_8 {
    flex: 1.4;
  }

  .cs_counter_wrapper_2 {
    flex: 1;
  }

  @media (max-width: 1500px) {
    .cs_card_style_8 {
      flex: 1;
    }

    .cs_counter_wrapper_2 {
      flex: 1;
    }
  }

  @media (max-width: 1199px) {
    flex-wrap: wrap;

    .cs_card_style_8 {
      flex: none;
      width: 100%;
    }

    .cs_counter_wrapper_2 {
      flex: none;
      width: 100%;

      .cs_counter_wrapper_in {
        margin-left: 0;
      }
    }
  }
}

// card 9

.cs_card_style_9 {
  padding: 170px 0 204px;
  position: relative;

  .cs_section_heading_style_4 {
    width: min(566px, 100%);
    position: relative;
    z-index: 2;

    .cs_section_subtitle {
      background-color: transparent;
      border: 1px solid var(--white-color);
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
}

.cs_card_style_10 {
  padding: 35px 44px 35px 65px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
  border: 1px solid transparent;

  .cs_card_thumbnail {
    img {
      width: 100%;
    }
  }

  .cs_card_info {
    width: min(550px, 100%);
    margin-left: auto;
  }

  .cs_card_btn {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    transform: rotate(-45deg);
    font-size: 22px;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--accent-color);
      color: var(--white-color);
    }
  }

  &:hover {
    border-color: var(--border-color);
    border-radius: 8px;

    h3 {
      color: var(--accent-color);
    }
  }

  @media (max-width: 991px) {
    .cs_card_info {
      margin-left: 0;
    }
  }
}

.cs_card_style_11 {
  padding: 52px 20px 40px 62px;
  background-color: var(--white-color);
  border-radius: 20px;
  box-shadow: 0 6px 44px 0 rgba(181, 181, 234, 0.41);

  .cs_testimial_bottom {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  blockquote {
    font-style: normal;
  }

  @media (max-width: 991px) {
    padding: 35px 20px 35px 35px;
  }
}

.cs_card_style_12 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  .cs_card_info {
    padding: 37px 50px 37px 65px;
    background-color: var(--white-color);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
  }

  .cs_price_range {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      display: inline-block;
      height: 1px;
      width: 30px;
      background-color: var(--black-color);
    }
  }

  .cs_card_thumbnail {
    img {
      width: fit-content;
    }
  }

  @media (max-width: 991px) {
    .cs_card_info {
      width: 100%;
    }
  }
}

.cs_card_style_13 {
  width: min(316px, 100%);
  height: 354px;
  border: 1px solid #7ec891;
  background: var(--white-color);
  padding: 65px 38px 57px;

  .cs_card_thumbnail {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    flex: none;
    background-color: #f5f5f5;
  }

  .cs_card_info {
    p {
      font-size: 15px;
    }
  }

  @media (max-width: 767px) {
    height: auto;
    padding: 30px 20px;
  }
}

.cs_card_style_14 {
  border: 1px solid var(--border-color);
  padding: 25px 15px 52px;
  border-radius: 150px;
  position: relative;
  background-color: var(--white-color);

  .cs_social_icons {
    .cs_icon {
      width: 45px;
      height: 45px;
      background-color: transparent;
      border: 1px solid var(--border-color);
      border-radius: 50%;
      color: var(--accent-color);

      &:hover {
        background-color: var(--accent-color);
        color: var(--white-color);
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--accent-color);
    border-radius: inherit;
    transition: all 0.3s ease;
  }

  &:hover {
    &::after {
      background-color: var(--primary-color);
    }
  }
}

.cs_card_wrapper_1 {

  .cs_glowing_card_1,
  .cs_glowing_card_2 {
    display: flex;
    gap: 30px;
    position: absolute;

    .cs_card_style_13 {
      &:nth-child(1) {
        margin-top: 300px;
      }
    }
  }

  .cs_glowing_card_1 {
    top: 127px;
    left: 44px;
  }

  .cs_glowing_card_2 {
    bottom: 155px;
    right: 0;
    justify-content: flex-end;
  }

  @media (max-width: 1400px) {
    .cs_glowing_card_1 {
      top: 0px;
      left: 0px;
    }

    .cs_glowing_card_2 {
      bottom: 30px;
    }
  }

  @media (max-width: 991px) {

    .cs_glowing_card_1,
    .cs_glowing_card_2 {
      justify-content: center;
      position: initial;

      .cs_card_style_13 {
        &:nth-child(1) {
          margin-top: 0px;
        }
      }
    }
  }
}

.cs_card_wrapper_3 {
  padding-left: 40px;
  padding-top: 20px;
  border-left: 2px dashed var(--accent-color);

  .cs_card_style_15 {
    padding: 26px 35px;
    position: relative;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);

    &:not(:last-child) {
      margin-bottom: 60px;
    }

    .cs_year {
      display: inline-block;
      padding: 5px 41px;
      background-color: var(--primary-color);
      position: absolute;
      top: -24px;
      z-index: 5;
      transition: all 0.3s ease;
    }

    &:hover {
      .cs_year {
        background-color: var(--accent-color);
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border: 1px solid var(--border-color);
      left: -8px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      background: white;
      border-right: 0;
      border-top: 0;
    }

    &::before {
      content: "\f192";
      font-family: "Font Awesome 6 Free";
      font-weight: 400;
      font-size: 16px;
      position: absolute;
      left: -49px;
      z-index: 1;
      color: var(--primary-color);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.cs_card_style_16 {
  background-color: var(--gray-color3);
  padding: 60px 15px 60px 15px;
  transition: all 0.3s ease;

  &:hover {
    color: var(--accent-color);
  }
}