/*==============================================================
  24. Counter
================================================================*/
.cs_counter_wrapper_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 75px;

  @media (max-width: 1400px) {
    gap: 10px 25px;
  }
  @media (max-width: 575px) {
    flex-direction: column;
    align-items: start;

    .cs_counter_style_1 {
      &:not(:first-child) {
        &::before {
          display: none;
        }
      }
    }
  }
}
.cs_counter_style_1 {
  position: relative;

  &:not(:first-child) {
    &::before {
      content: "";
      height: 100%;
      width: 1px;
      background-color: var(--primary-color);
      position: absolute;
      left: -35px;
      bottom: -50%;
      transform: translateY(-50%);
    }
  }
  .cs_counter_top {
    display: flex;
    align-items: center;
    gap: 11px;
  }

  @media (max-width: 767px) {
    &:not(:first-child) {
      &::before {
        left: -20px;
      }
    }
  }
}

.cs_counter_wrapper_2 {
  .cs_counter_wrapper_in {
    width: min(560px, 100%);
    margin-left: auto;
  }
  .cs_counter_style_2 {
    display: flex;
    align-items: start;
    gap: 36px;
    padding-bottom: 38px;
    margin-left: 0;
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    position: relative;
    .cs_counter_info {
      width: min(340px, 100%);
    }

    &::after {
      content: "";
      width: 90%;
      height: 1px;
      background-color: #242424;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &:hover {
      &::after {
        background-color: var(--accent-color);
      }
    }
  }

  @media (max-width: 575px) {
    .cs_counter_style_2 {
      flex-direction: column;
    }
  }
}
