.cs_counter_wrapper_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 75px;

  @media (max-width: 1400px) {
    gap: 10px 25px;
  }
}
.cs_counter_style_1 {
  position: relative;

  &:not(:first-child) {
    &::before {
      content: "";
      height: 100%;
      width: 1px;
      background-color: var(--primary-color);
      position: absolute;
      left: -35px;
      bottom: -50%;
      transform: translateY(-50%);
    }
  }
  .cs_counter_top {
    display: flex;
    align-items: center;
    gap: 11px;
  }
}

.cs_counter_wrapper_2 {
  padding-left: 95px;

  .cs_counter_style_2 {
    display: flex;
    align-items: start;
    gap: 36px;
    padding-bottom: 38px;
    margin-bottom: 30px;
    border-bottom: 1px solid #242424;

    .cs_counter_info {
      width: min(340px, 100%);
    }
  }

  @media (max-width: 1299px) {
    padding-left: 80px;
  }

  @media (max-width: 1199px) {
    padding-left: 60px;
  }
  @media (max-width: 767px) {
    .cs_counter_style_2 {
      flex-direction: column;
      gap: 20px;
    }
  }
}
