/*============================================================
  14. CTA Component
==============================================================*/
.cs_cta_style_1 {
  .cs_cta_thumbnail {
    height: 100%;
    // width: calc(50vw - 1.8%);
    width: 50vw;
    min-height: 600px;
  }

  .cs_cta_text {
    height: 100%;
    padding: 124px 0;
    width: min(100%, 625px);

    .cs_btn_style_1 {
      margin-top: auto;
    }
  }
}
.cs_cta_style_2 {
  .cs_cta_text {
    height: 100%;
    padding: 124px 0;
    width: min(100%, 625px);
    margin-left: auto;

    .cs_btn_style_1 {
      margin-top: auto;
    }
  }
  .cs_cta_thumbnail {
    height: 100%;
    width: 51vw;
    min-height: 600px;
    margin-left: calc(103.8% - 51vw);
  }
}

  @media (min-width: 1400px) {
       .cs_cta_style_1,
       .cs_cta_style_2 {
         .container {
        max-width: 1620px;
        }
       }
    }
    
@media (max-width: 991px) {
  .cs_cta_style_1,
  .cs_cta_style_2 {
    .cs_cta_thumbnail {
      width: 100%;
      margin-left: 0;
    }
  }
  
}