/*============================================================
  14. CTA Component
==============================================================*/
.cs_cta_style_1 {
  .cs_cta_in_style_1 {
    .cs_cta_thumbnail {
      height: 100%;
      min-height: 600px;
      width: 50vw;
      margin-left: -16px;
    }

    .cs_cta_text {
      height: 100%;
      padding: 124px 0;
      width: min(100%, 625px);

      .cs_btn_style_1 {
        margin-top: auto;
      }
    }
  }

  .cs_cta_in_style_2 {
    .cs_cta_text {
      height: 100%;
      padding: 124px 0;
      width: min(100%, 625px);
      margin-left: auto;

      .cs_btn_style_1 {
        margin-top: auto;
      }
    }

    .cs_cta_thumbnail {
      height: 100%;
      min-height: 600px;
      width: calc(50vw + 14px);
      margin-left: calc(-50vw + 100%);
    }
  }

  @media (min-width: 1400px) {
    .cs_cta_in_style_1,
    .cs_cta_in_style_2 {
      .container {
        max-width: 1620px;
      }
    }
  }

  @media (max-width: 991px) {
    .cs_cta_in_style_1,
    .cs_cta_in_style_2 {
      padding: 80px;

      .cs_cta_text {
        padding: 80px 0 0;
      }
      .cs_cta_thumbnail {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  @media (max-width: 575px) {
    .cs_cta_in_style_1,
    .cs_cta_in_style_2 {
      padding: 40px;
      .cs_cta_thumbnail {
        min-height: 400px;
      }
    }
  }
}

.cs_cta_style_2 {
  .cs_cta_rotate_icon {
    display: inline-block;
    animation: animo-x2 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;

    img {
      transform-origin: center center;
      animation: animo-y 22s linear infinite;
    }
  }
  .cs_cta_subtitle {
    width: min(467px, 100%);
    letter-spacing: 1.6px;
  }

  .cs_cta_right {
    padding-top: 60px;
    position: relative;
    width: min(100%, 340px);

    img {
      position: relative;
      z-index: 2;
      display: block;
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      width: 124px;
      height: 368px;
      background-color: var(--accent-color);
      top: -60px;
      left: 60px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 116px;
      height: 258px;
      background-color: var(--primary-color);
      top: -60px;
      left: 184px;
    }
  }

  .cs_btn_style_2 {
    padding: 17px 29px;
    font-weight: 600;
  }

  @media (max-width: 991px) {
    .cs_cta_right {
      width: 100%;

      &::after,
      &::before {
        top: 0;
      }
    }
  }
}

.cs_cta_style_3 {
  position: relative;
  overflow: hidden;
  padding: 300px 0 110px 0;

  .cs_section_heading_style_1 {
    margin-bottom: 200px;
  }
  .cs_cta_btn {
    top: -100px;
  }
  .cs_btn_style_3 {
    border: 1px solid #007aff;
    color: var(--accent-color);
    background: #fff;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--accent-color);
      border-color: #fff;
      color: #fff;
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 260px;
    width: 115%;
    background: white;
    bottom: -115px;
    z-index: 1;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .cs_cta_thumbnail_wrapper {
    .cs_cta_thumbnail {
      &:nth-child(1) {
        position: absolute;
        top: 96px;
        left: 323px;
      }
      &:nth-child(2) {
        position: absolute;
        top: 96px;
        right: 323px;
      }
      &:nth-child(3) {
        position: absolute;
        bottom: 167px;
        left: 140px;
      }
      &:nth-child(4) {
        position: absolute;
        bottom: 167px;
        right: 140px;
      }
      &:nth-child(5) {
        position: absolute;
        bottom: 167px;
        left: 40%;
      }
    }
  }

  .background_wrap {
    bottom: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;

    .bubble {
      height: 115px;
      width: 115px;
      border-radius: 50%;
      border: 10px solid rgba(255, 255, 255, 0.5);
      position: relative;
    }
  }

  /* ANIMATIONS */
  .x1 {
    animation: animateBubble 35s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    left: 5%;
    top: 5%;
  }

  .x2 {
    animation: animateBubble 25s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    left: 6%;
    top: 0%;
  }
  .x3 {
    animation: animateBubble 42s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    left: 40%;
    top: 80%;
    transform: scale(0.5);
  }
  .x4 {
    animation: animateBubble 30s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    left: 60%;
    top: 0%;
  }
  .x5 {
    animation: animateBubble 25s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    left: 80%;
    top: 10%;
  }
  .x6 {
    animation: animateBubble 35s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    left: 95%;
    top: 5%;
  }

  @keyframes animateBubble {
    0% {
      margin-top: 1000px;
    }
    100% {
      margin-top: -100%;
    }
  }

  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 50px;
    }
  }

  @media (max-width: 1400px) {
    &::before {
      display: none;
    }
    .cs_cta_thumbnail_wrapper {
      .cs_cta_thumbnail {
        &:nth-child(1) {
          left: 123px;
        }
        &:nth-child(2) {
          position: absolute;
          top: 96px;
          right: 123px;
        }
        &:nth-child(3) {
          left: 40px;
        }
        &:nth-child(4) {
          right: 40px;
        }
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_cta_thumbnail_wrapper {
      .cs_cta_thumbnail {
        &:nth-child(1) {
          left: 123px;
        }
        &:nth-child(2) {
          position: absolute;
          top: 96px;
          right: 123px;
        }
        &:nth-child(3) {
          left: 40px;
        }
        &:nth-child(4) {
          right: 40px;
        }
      }
    }
  }

  @media (max-width: 991px) {
    padding: 80px 0 50px 0;

    .cs_section_heading_style_1 {
      margin-bottom: 80px;
    }
    .cs_cta_thumbnail_wrapper {
      display: none;
    }
  }

  @media (max-width: 575px) {
    padding: 80px 0 70px 0;
  }
}

.cs_cta_style_4 {
  padding: 25px 0;
  .cs_btn_style_6 {
    background-color: var(--white-color);
    padding: 13px 35px;

    &:hover {
      color: var(--accent-color);
    }
  }

  .cs_cta_in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px 40px;
  }
  .cs_bg_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 1199px) {
    .cs_cta_in {
      flex-direction: column-reverse;
    }
    .cs_cta_left {
      text-align: center;
    }
  }
}

.cs_cta_style_5 {
  width: 100%;
  height: 730px;

  .cs_video_block {
    width: 214px;
    height: 355px;
    border-radius: 120px 120px 0 0;
    border: 3px solid #fff;
    background: #fb9015;
    backdrop-filter: blur(7.5px);
    position: absolute;
    bottom: 0;
  }

  .cs_btn_style_2 {
    font-size: 18px;
    padding: 21px 40px;

    span {
      i {
        padding-left: 7px;
        font-size: 16px;
      }
    }
  }
  .cs_player_btn_style_2 {
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
      content: "";
      border: 8px solid rgba(251, 155, 44);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.01);
      animation: pulseBorder 3s linear infinite;
    }
  }

  .cs_cta_form {
    width: min(526px, 100%);
    border-radius: 0 0 10px 10px;
    background: #fff;
    padding: 40px 60px;
    margin-left: auto;

    input,
    .cs_input_wrapper {
      border: none;
      border-bottom: 1px dotted var(--accent-color);
      outline: none;
      width: 100%;
      padding: 15px 0 10px;
      cursor: pointer;

      &::placeholder {
        color: var(--primary-color);
      }
    }
  }

  .ts-control {
    border: none;
    padding: 0;
    position: relative;
    font-size: 16px;

    input {
      width: 0;
    }
    &::after {
      content: "\f107";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      position: absolute;
      right: 12px;
      color: var(--accent-color);
    }
  }

  .cs_input_icon {
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--accent-color);
  }

  @media (max-width: 991px) {
    .cs_cta_form {
      padding: 30px;
    }
    .cs_video_block {
      height: 300px;
    }
  }

  @media (max-width: 767px) {
    .cs_video_block {
      height: 250px;
    }
  }
}

.cs_cta_style_6 {
  padding: 150px 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    left: 0;
    top: 0;
  }

  .cs_cta_partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: calc(100% + 2px);
    margin-bottom: -2px;
    position: relative;

    .cs_cta_partner {
      padding: 25px 26px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
      border-right: 1px solid rgba(255, 255, 255, 0.8);
    }
  }
}
