/*==============================================================
  25. Gallery
================================================================*/
.cs_gallery_style_1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 42px;

  .cs_text {
    grid-row: auto / span 2;
    grid-column: auto / span 2;
    border-radius: 24px;
    background: #070312;
    padding: 90px 40px;
    color: white;
    gap: 115px 0;
  }

  .cs_gallery_img {
    border-radius: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    .cs_text {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
      gap: 40px;
      padding: 40px 40px 45px;
    }
  }

  @media (max-width: 450px) {
    grid-template-columns: repeat(1, 1fr);

    .cs_text {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
    }
  }
}

.cs_gallery_style_2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  .cs_gallery_img {
    border-radius: 11px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }

    &:nth-child(1) {
      grid-row: auto / span 2;
      grid-column: auto / span 2;
    }

    &:nth-child(4) {
      grid-column: auto / span 2;
    }

    .cs_gallery_overlay {
      z-index: 2;
      background: rgba(49, 49, 49, 0.55);
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 0;
      transition: all 0.4s ease;
    }

    .cs_gallery_icon {
      width: 60px;
      height: 60px;
      background: var(--white-color);
      border-radius: 50%;
      position: absolute;
      top: 65px;
      right: 55px;
      font-size: 22px;
      transform: scale(0);
      transition: transform 0.4s ease;

      &:hover {
        color: var(--white-color);
        background-color: var(--accent-color);
      }
    }

    .cs_gallery_text {
      position: absolute;
      left: 80px;
      bottom: 50px;
      transform: translateY(20px);
      opacity: 0;
      z-index: 1;
      transition: all 0.4s ease;
    }

    &:hover {
      .cs_gallery_overlay {
        opacity: 1;
      }

      .cs_gallery_icon {
        transform: scale(1);
      }

      .cs_gallery_text {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  @media (max-width: 1700px) {
    .cs_gallery_img {
      .cs_gallery_icon {
        top: 24px;
        right: 24px;
      }

      .cs_gallery_text {
        left: 20px;
        bottom: 30px;
      }
    }

  }

  @media (max-width: 1199px) {
    .cs_gallery_img {
      min-height: 180px;

      .cs_gallery_icon {
        top: 15px;
        right: 15px;
      }

      .cs_gallery_text {
        left: 15px;
      }
    }
  }

  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);

    .cs_gallery_img {
      &:nth-child(1) {
        grid-row: auto / span 1;
        grid-column: auto / span 1;
      }

      &:nth-child(4) {
        grid-column: auto / span 1;
      }
    }
  }
}