/*==============================================================
  16. Iconbox
================================================================*/

.cs_iconbox_style_1 {
  display: flex;
  gap: 16px;
  align-items: center;
  color: var(--white-color);

  &:not(:last-child) {
    border-right: 1px solid var(--white-color);
    padding-right: 40px;
    margin-right: 40px;
  }

  .cs_iconbox_title {
    color: var(--white-color);
  }
}

.cs_iconbox_style_2 {
  display: flex;
  align-items: center;
  gap: 20px;

  .cs_iconbox_icon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 1px solid var(--accent-color);
    flex: none;
  }
}

.cs_iconbox_style_3 {
  display: flex;
  gap: 20px 60px;

  .cs_iconbox_info {
    width: min(366px, 100%);
  }

  .cs_iconbox_icon {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 55px;
      height: 55px;
      flex-shrink: 0;
      background-color: var(--accent-color);
      opacity: 0.1;
      border-radius: 50%;
      left: 23px;
    }
  }
}

.cs_iconbox_style_4 {
  position: relative;
  padding-left: 118px;

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  .cs_iconbox_icon {
    position: absolute;
    left: 0px;
    top: 2px;
    width: 100px;
    height: 100px;
    border: 1px dotted var(--accent-color);
    border-radius: 50%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);

    img {
      position: relative;
      z-index: 2;
      transition: all 0.4s ease;
    }

    &::before {
      content: "";
      background-color: var(--accent-color);
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: inherit;
      opacity: 0.1;
      top: 0;
      left: 0;
    }

    &::after {
      content: "";
      background-color: var(--white-color);
      width: 76%;
      height: 76%;
      position: absolute;
      border-radius: inherit;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.4s ease;
    }
  }

  &:hover {
    .cs_iconbox_icon {
      img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(394%) hue-rotate(248deg) brightness(112%) contrast(101%);
      }

      &::after {
        background-color: var(--accent-color);
      }
    }
  }

  @media (max-width: 575px) {
    padding-left: 90px;

    .cs_iconbox_icon {
      width: 70px;
      height: 70px;
    }
  }
}

.cs_iconbox_style_5 {
  display: flex;
  gap: 15px;
  padding: 14px;
  border: 1px solid #d0d0d0;
  flex-wrap: wrap;
}

.cs_iconbox_style_6 {
  .cs_iconbox_icon {
    background-color: var(--white-color);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    transition: background 0.3s ease;
  }

  &:hover {

    .cs_iconbox_icon {
      background: linear-gradient(90deg, #e026b2 0%, #007aff 100%);
    }
  }
}

.cs_iconbox_style_6,
.cs_iconbox_style_13,
.cs_iconbox_style_15 {
  width: min(400px, 100%);
  display: flex;
  gap: 28px;

  &:nth-child(even) {
    margin-left: auto;
  }

  .cs_iconbox_icon {
    width: 65px;
    height: 65px;
    flex: none;
  }

  &:hover {

    .cs_iconbox_title {
      background: linear-gradient(90deg, #e026b2 0%, #007aff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @media (max-width: 991px) {
    &:nth-child(even) {
      margin-left: 0;
    }
  }
}

.cs_iconbox_style_7 {
  width: min(260px, 100%);
  padding-left: 66px;
  padding-bottom: 25px;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
  // margin-bottom: 17px;

  .cs_iconbox_icon {
    position: absolute;
    left: 0;
    top: 0px;
  }

  .cs_iconbox_info {
    color: #e2e2e2;
  }

  @media (max-width: 1199px) {
    width: min(450px, 100%);

    .cs_iconbox_icon {
      top: -8px;
    }
  }
}

.cs_iconbox_style_8 {
  .cs_iconbox_title {
    padding-left: 40px;
    position: relative;

    i {
      position: absolute;
      left: 0;
      top: 4px;
      font-size: 25px;
      color: var(--accent-color);
    }
  }

  &:not(:last-child) {
    margin-bottom: 45px;
  }
}

.cs_iconbox_style_9 {
  padding: 65px 32px;
  border-radius: 10px;
  height: 100%;
  border: 1px solid var(--white-color);
  background-color: var(--white-color);
  filter: drop-shadow(0 10px 20px rgba(155, 155, 155, 0.1));
  transition: all 0.4s ease;

  &:hover {
    border-color: var(--accent-color);
    filter: drop-shadow(0 10px 20px rgba(155, 155, 155, 0.15));
  }

  @media (max-width: 767px) {
    padding: 65px 20px;
  }
}

.cs_iconbox_style_10,
.cs_iconbox_style_14 {
  display: flex;
  align-items: center;
  gap: 15px;
  width: min(188px, 100%);
}

.cs_iconbox_middle_img {
  border-radius: 4px;

  img {
    width: 100%;
  }
}

.cs_iconbox_style_11 {
  display: flex;
  flex-direction: column;
  width: min(136px, 100%);
}

.cs_iconbox_style_12 {
  padding-right: 115px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 70px;
  }

  .cs_iconbox_icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .cs_iconbox_info {
    border-bottom: 1px solid #e8e8e8;

    .cs_iconbox_title {
      font-size: 24px;
    }
  }

  @media (max-width: 991px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.cs_iconbox_style_13 {
  width: min(590px, 100%);
  gap: 24px;
  margin-left: 0 !important;

  @media (max-width: 1199px) {
    align-items: start;
  }
}

.cs_iconbox_style_14 {
  gap: 30px;
  flex: 0 0 calc(39% - 35px);
  min-width: 280px;

  .cs_iconbox_icon {
    flex: none;
  }

  @media (max-width: 1599px) {
    flex: 0 0 calc(48% - 35px);
  }

  @media (max-width: 1599px) {
    flex: 0 0 calc(48% - 35px);
  }
}

.cs_iconbox_style_15 {
  gap: 30px;
  width: min(510px, 100%);
  align-items: center;
  margin-left: 0 !important;

  .cs_iconbox_icon {
    width: 75px;
    height: 75px;
  }
}

.cs_iconbox_wrapper_1,
.cs_iconbox_wrapper_9 {
  padding: 70px 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cs_iconbox_wrapper_2 {
  display: flex;
  gap: 30px;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.cs_iconbox_wrapper_4 {
  gap: 60px 30px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;

  @media (max-width: 991px) {
    grid-template-columns: repeat(1, auto);
    gap: 30px;

    .cs_iconbox_style_6 {
      max-width: 100%;
    }
  }
}

.cs_iconbox_wrapper_5 {
  .cs_section_title {
    span {
      color: var(--accent-color);
      border-bottom: 1px solid var(--accent-color);
    }
  }

  .cs_left_iconbox,
  .cs_right_iconbox {
    .cs_iconbox_style_7:not(:last-child) {
      margin-bottom: 17px;
    }
  }

  .cs_left_iconbox {
    padding-top: 18px;
    padding-left: 30px;
  }

  .cs_iconbox_middle_img {
    border-radius: 0;
    transform: translateY(-70px);
  }

  .cs_img {
    right: 0;
    bottom: 0;

    img {
      width: 100%;
      position: relative;
      z-index: 1;
    }
  }

  .cs_shape_1 {
    width: 677px;
    height: 536px;
    background-color: var(--accent-color);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @media (max-width: 1400px) {
    .cs_left_iconbox {
      padding-left: 0;
    }

    .cs_iconbox_middle_img {
      transform: none;
    }
  }
}

.cs_iconbox_wrapper_6 {
  padding-left: 170px;

  @media (max-width: 1399px) {
    padding-left: 50px;
  }

  @media (max-width: 1199px) {
    padding-left: 20px;
  }

  @media (max-width: 991px) {
    padding-left: 0px;

    .cs_iconbox_style_8 {
      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }
}

.cs_iconbox_wrapper_7 {
  display: flex;
  align-items: center;
  gap: 55px;

  @media (max-width: 767px) {
    gap: 30px;
    flex-wrap: wrap;
  }
}

.cs_iconbox_wrapper_8 {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
    position: absolute;
    left: 0;
    bottom: 187px;
  }

  .cs_top_iconbox {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: min(540px, 100%);
    margin-left: auto;
    padding-bottom: 40px;
  }

  .cs_bottom_iconbox {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: min(580px, 100%);
    margin: 0 auto;
    padding-top: 40px;
  }

  @media (max-width: 991px) {
    .cs_top_iconbox {
      margin-left: 0;
    }

    .cs_bottom_iconbox {
      margin: 0;
    }
  }
}

.cs_iconbox_wrapper_9 {
  flex-direction: column;
  padding: 0;

  @media (max-width: 991px) {
    align-items: start;
  }
}

.cs_refrigerato_iconbox {
  position: relative;

  &::after,
  &::before {
    content: "";
    width: 50vw;
    height: 100%;
    position: absolute;
    bottom: 0;
  }

  &::after {
    left: 0;
    background: var(--gray-content-background-text-icon-0, #f2f6ef);
  }

  &::before {
    right: 0;
    background: #f2faff;
  }

  @media (max-width: 1199px) {
    br {
      display: none;
    }
  }
}

.cs_iconbox_wrapper_10 {
  display: flex;
  flex-wrap: wrap;
  gap: 35px 70px;
}