.cs_layer_img_box,
.cs_layer_imgbox_2 {
  padding-right: 19%;

  .cs_layer_img_1 {
    img {
      width: 100%;
    }
  }
  .cs_layer_img_2 {
    position: absolute;
    right: 0;
    bottom: 60px;
    padding-left: 40%;
    border-radius: 190px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);

    img {
      border: 10px solid var(--white-color);
      width: 100%;
    }
  }
  .cs_layer_img_2_in {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    padding: 47px 0;

    &::after {
      content: "";
      position: absolute;
      background-color: var(--white-color);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    img {
      position: relative;
      z-index: 1;
      border: none;
    }
  }
}

.cs_layer_imgbox_2 {
  padding: 0 24% 0 3%;
  position: relative;

  .cs_layer_img_2 {
    bottom: 35px;
    padding-left: 52%;
    width: 100%;

    .cs_img_bg {
      border: 1px solid var(--accent-color);
      background: #fbfbfb;
      box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.15);
      padding: 42px 15px 50px;
      position: relative;
      overflow: hidden;
      border-radius: 20px;

      img {
        width: 100%;
        position: relative;
        z-index: 10;
        border: none;
      }

      &::before,
      &::after {
        content: "";
        width: 19px;
        height: 150%;
        background-color: var(--accent-color);
        position: absolute;
        z-index: 2;
      }
      &::after {
        transform: rotate(36deg);
        left: 141px;
        bottom: -46px;
      }
      &::before {
        transform: rotate(36deg);
        left: 185px;
        bottom: -61px;
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_layer_img_2 {
      .cs_img_bg {
        &::after {
          left: 210px;
          bottom: -68px;
        }
        &::before {
          left: 250px;
          bottom: -99px;
        }
      }
    }
  }
  @media (max-width: 991px) {
    padding: 0 50px 0 0;
    .cs_layer_img_2 {
      .cs_img_bg {
        &::after {
          left: 108px;
        }
        &::before {
          left: 146px;
        }
      }
    }
  }
}

.cs_layer_imgbox_3 {
  padding-left: 30%;

  .cs_layer_img_1 {
    img {
      width: 100%;
    }
  }

  .cs_layer_img_2 {
    position: absolute;
    left: 0;
    bottom: 60px;
    border-radius: 50%;
    padding-right: 40%;

    img {
      box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
      border: 10px solid var(--white-color);
      width: 100%;
    }
  }
}

.cs_layer_imgbox_wrapper_1 {
  .cs_layer_img_box {
    padding-right: 15%;
  }

  .cs_layer_img_1 {
    width: 50vw;
    margin-left: calc(100% - 50vw);
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .cs_layer_img_2 {
    top: 50%;
    transform: translateY(-50%);
    box-shadow: none;
    padding-left: 50%;
    height: 100%;
  }

  @media (max-width: 991px) {
    .cs_layer_img_1 {
      margin-left: 0;
      width: 100%;
    }
    .cs_layer_img_2 {
      padding-left: 65%;
    }
  }
}
.cs_layer_imgbox_wrapper_2 {
  .cs_layer_img_box {
    padding-left: 28%;
    padding-right: 0;
  }
  .cs_layer_img_1 {
    width: 50vw;
  }

  .cs_layer_img_2 {
    padding-right: 48%;
    padding-left: 0;
    box-shadow: none;
    bottom: 0;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (max-width: 991px) {
    .cs_layer_img_box {
      padding-left: 20%;
    }
    .cs_layer_img_1 {
      width: 100%;
    }
    .cs_layer_img_2 {
      padding-right: 61%;
    }
  }
}
