/*=============================================================
  19. Products Styling
===============================================================*/
.cs_product_style_1 {
  .cs_product_thumbnail {
    img {
      width: 100%;
      transition: all 0.5s ease;
    }

    .cs_btn_style_1 {
      position: absolute;
      left: 50%;
      bottom: 0px;
      transform: translateX(-50%);
      font-size: 18px;
      padding: 13px 30px;
      margin-bottom: 30px;
    }

    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }

  .cs_product_info {
    padding: 0 20px;
  }
}

.cs_product_style_2 {
  background-color: var(--white-color);
  padding: 25px 15px 46px;
  border: 1px solid var(--border-color);
  height: 100%;

  .cs_product_thumbnail {
    width: min(167px, 100%);
    max-height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease;
    }

    &:hover img {
      transform: scale(1.03);
    }
  }

  .cs_btn_style_3 {
    border-radius: 4px;
    border: 1px solid var(--border-color);
  }

  .cs_product_info {
    margin-top: auto;
  }

  .cs_product_title:hover {
    color: var(--accent-color);
  }
}

.cs_product_style_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: min(290px, 100%);

  .cs_product_info {
    margin-top: auto;
  }

  .cs_product_thumbnail {
    img {
      width: 100%;
      transition: transform 0.5s ease;
    }

    &:hover img {
      transform: scale(1.03);
    }
  }
}

.cs_product_style_4 {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 10px 40px 40px;

  .cs_shape {
    width: 100%;
    bottom: 0;
    left: 0;

    img {
      width: 100%;
    }
  }

  @media (max-width:413px) {
    gap: 15px;
    padding: 20px 10px;
  }
}

.cs_product_style_5 {
  .cs_product_thumbnail {
    overflow: hidden;
    display: block;

    img {
      width: 100%;
      transition: all 0.5s ease;
    }
  }

  .cs_product_title:hover {
    color: var(--accent-color);
  }

  &:hover {
    .cs_product_thumbnail {
      img {
        transform: scale(1.03);
      }
    }
  }
}

.cs_product_wrapper_1 {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: min(100%, 1670px);
  margin: 0 auto;
  flex-wrap: wrap;
}

.cs_product_wrapper_2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;

  .cs_product_banner {
    grid-column: auto / span 2;
    overflow: hidden;

    .cs_banner_info {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      padding: 88px 30px;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  @media (max-width: 1200px) {
    .cs_product_banner {
      .cs_banner_info {
        padding: 40px 15px;
      }
    }
  }

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);

    .cs_product_style_5 {
      width: min(312px, 100%);
      margin: 0 auto;
    }

    .cs_product_banner {
      grid-column: auto / span 1;
    }
  }
}

.cs_product_style_6 {
  .cs_product_thumbnail {
    overflow: hidden;

    img {
      width: 100%;
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .cs_product_info {
    .cs_rating {
      width: 120px;
      display: flex;
      align-items: center;

      &::before {
        font-weight: 900;
        color: var(--accent-color);
      }

      .cs_rating_percentage {
        &::before {
          color: var(--border-color);
        }
      }
    }

    .cs_product_title:hover {
      color: var(--accent-color);
    }

    .cs_price {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .cs_btn_style_7 {
      background-color: transparent;
      color: var(--accent-color);
      padding: 18px 45px;
      font-size: 20px;

      &:hover {
        background-color: var(--accent-color);
        color: var(--white-color);
      }
    }
  }
}

/*=====================================================
 Product Details
=======================================================*/
.cs_product_details {
  padding-top: 225px;

  .cs_product_thumbnail {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  .cs_product_reviews {
    display: flex;
    align-items: center;
  }

  .cs_rating {
    width: 120px;
    height: 26px;
    letter-spacing: 4px;
  }

  .cs_color_list {
    display: flex;
    align-items: center;
    gap: 10px;

    li {
      width: 30px;
      height: 30px;
      cursor: pointer;
      background: var(--cs-color);
      position: relative;

      &::after {
        content: "";
        width: 16px;
        height: 8px;
        position: absolute;
        left: 7px;
        top: 8px;
        opacity: 0;
        transform: rotate(-45deg);
        border-left: 2px solid var(--accent-color);
        border-bottom: 2px solid var(--accent-color);
        transition: opacity 0.3s ease;
      }

      &.active {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  .cs_action_btns_wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
  }

  .cs_quantity_btns {
    width: 30%;
    padding: 12px 30px;
  }

  .cs_btn_style_1 {
    flex: 1;
    width: 100%;
  }

  .cs_product_specifications {
    li:not(:last-child) {
      margin-bottom: 7px;
    }

    strong {
      color: var(--primary-color);
    }
  }

  @media (max-width:400px) {
    .cs_action_btns_wrapper {
      flex-direction: column;
    }

    .cs_quantity_btns {
      width: 100%;
    }
  }
}

.cs_product_meta_info {
  border-top: 1px solid var(--border-color);
  padding-top: 40px;
}

.cs_input_rating_wrap {
  display: flex;
  align-items: center;

  p {
    margin: 0 14px 0 0;
  }
}

.cs_client_review {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  .cs_review_media {
    display: flex;
  }

  .cs_review_media_thumb {
    flex: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    align-items: center;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .cs_review_media_right {
    .cs_rating {
      width: 120px;
    }
  }

  .cs_review_text {
    flex: none;
    width: 100%;
    line-height: 1.8em;
    margin-top: 30px;
  }

  .cs_review_posted_by {
    margin-left: 65px;
    padding-top: 22px;
  }
}

.cs_input_rating {
  cursor: pointer;
}

.cs_client_review_list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    &:not(:last-child) {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid var(--border-color);
    }
  }
}

.cs_tabs.cs_style_1 {
  .cs_tab_links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 52px;

    @media (max-width: 575px) {
      gap: 10px 30px;
    }

    li {
      a {
        display: inline-block;
        position: relative;
        padding-bottom: 5px;
        font-weight: 600;

        &::before {
          content: '';
          position: absolute;
          height: 1px;
          width: 0;
          transition: all 0.3s ease;
          background-color: currentColor;
          bottom: 0;
        }
      }

      &.active {
        a {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  .cs_tab {
    display: none;

    &.active {
      display: block;
    }
  }
}