/*=============================================================
  19. Products Styling
===============================================================*/
.cs_product_style_1 {
  .cs_product_thumbnail {
    img {
      width: 100%;
      transition: all 0.3s ease;
    }

    .cs_btn_style_1 {
      position: absolute;
      left: 50%;
      bottom: 0px;
      transform: translateX(-50%);
      font-size: 18px;
      padding: 13px 30px;
      margin-bottom: 30px;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  .cs_product_info {
    padding: 0 20px;
  }
}

.cs_product_style_2 {
  background-color: var(--white-color);
  padding: 25px 15px 46px;
  border: 1px solid var(--border-color);
  height: 100%;

  .cs_product_thumbnail {
    width: min(167px, 100%);
    max-height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .cs_btn_style_3 {
    border-radius: 4px;
    border: 1px solid var(--border-color);
  }

  .cs_product_info {
    margin-top: auto;
  }

  .cs_product_title:hover {
    color: var(--accent-color);
  }
}

.cs_product_style_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: min(290px, 100%);

  .cs_product_info {
    margin-top: auto;
  }

  .cs_product_thumbnail {
    img {
      width: 100%;
    }
  }
}

.cs_product_style_4 {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 0px 40px 40px;

  .cs_shape {
    bottom: 0;
    left: 0;

    img {
      width: 100%;
    }
  }
}

.cs_product_style_5 {
  .cs_product_thumbnail {
    overflow: hidden;
    display: block;

    img {
      width: 100%;
      transition: all 0.5s ease;
    }
  }

  &:hover {
    .cs_product_thumbnail {
      img {
        transform: scale(1.05);
      }
    }
  }
}

.cs_product_wrapper_1 {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: min(100%, 1670px);
  margin: 0 auto;
  flex-wrap: wrap;
}

.cs_product_wrapper_2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;

  .cs_product_banner {
    grid-column: auto / span 2;
    overflow: hidden;

    .cs_banner_info {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      padding: 88px 30px;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  @media (max-width: 1200px) {
    .cs_product_banner {
      .cs_banner_info {
        padding: 40px 15px;
      }
    }
  }

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);

    .cs_product_style_5 {
      width: min(312px, 100%);
      margin: 0 auto;
    }

    .cs_product_banner {
      grid-column: auto / span 1;
    }
  }
}

.cs_product_style_6 {
  .cs_product_thumbnail {
    overflow: hidden;

    img {
      width: 100%;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .cs_product_info {
    .cs_rating {
      width: 120px;
      display: flex;
      align-items: center;

      &::before {
        font-weight: 900;
        color: var(--accent-color);
      }

      .cs_rating_percentage {
        &::before {
          color: var(--border-color);
        }
      }
    }

    .cs_price {
      display: flex;
      align-items: center;
      gap: 6px;

      .cs_prev_price {
        text-decoration: line-through;
      }
    }

    .cs_btn_style_7 {
      background-color: transparent;
      color: var(--accent-color);
      padding: 18px 45px;
      font-size: 20px;

      &:hover {
        background-color: var(--accent-color);
        color: var(--white-color);
      }
    }
  }
}

/*=====================================================
 Product Details
=======================================================*/
.cs_productd_details_modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;

  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease;

    .cs_modal_overlay {
      visibility: visible;
      opacity: 1;
    }

    .cs_product_details_wrapper {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  .cs_modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: zoom-out;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .cs_product_details_wrapper {
    width: min(100%, 960px);
    margin: 50px auto 0;
    padding: 55px 0 40px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.4s ease;
  }

  .cs_close_modal_btn {
    font-size: 20px;
    line-height: 1em;
    top: 15px;
    right: 20px;
    cursor: pointer;

    &:hover {
      color: #FE5A86;
    }
  }

  .cs_product_thumbnail_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .cs_product_thumbnail {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cs_product_details {
    padding: 15px;
    height: 100%;
    max-height: 85vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .cs_product_reviews {
    display: flex;
    align-items: center;
  }

  .cs_rating {
    width: 100px;
    height: 26px;
    font-size: 14px;
    letter-spacing: 4px;
  }

  .cs_color_list {
    display: flex;
    align-items: center;
    gap: 10px;

    li {
      width: 30px;
      height: 30px;
      cursor: pointer;
      background: var(--cs-color);
      position: relative;

      &::after {
        content: "";
        width: 16px;
        height: 8px;
        position: absolute;
        left: 7px;
        top: 8px;
        opacity: 0;
        transform: rotate(-45deg);
        border-left: 2px solid var(--accent-color);
        border-bottom: 2px solid var(--accent-color);
        transition: opacity 0.3s ease;
      }

      &.active {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  .cs_action_btns_wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }

  .cs_quantity_btns {
    padding: 9px 30px;
  }

  .cs_btn_style_1 {
    flex: 1;
    width: 100%;
    font-size: 16px;
    padding: 10px 40px;
  }

  .cs_product_specifications {
    li:not(:last-child) {
      margin-bottom: 5px;
    }

    strong {
      color: var(--primary-color);
    }
  }

  @media (max-width:400px) {
    .cs_action_btns_wrapper {
      flex-direction: column;
    }

    .cs_quantity_btns {
      width: 100%;
    }
  }
}