/*=============================================================
  04. Products Styling
===============================================================*/
.cs_product_style_1 {
  .cs_product_thumbnail {
    img {
      width: 100%;
      transition: all 0.3s ease;
    }

    .cs_btn_style_1 {
      position: absolute;
      left: 50%;
      bottom: 30px;
      transform: translateX(-50%);
      font-size: 18px;
      padding: 13px 30px;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.cs_product_style_2 {
  background-color: var(--white-color);
  padding: 25px 15px 46px;
  border: 1px solid var(--border-color);
  height: 100%;

  .cs_product_thumbnail {
    width: min(167px, 100%);
    max-height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .cs_btn_style_3 {
    border-radius: 4px;
    border: 1px solid var(--border-color);
  }

  .cs_product_info {
    margin-top: auto;
  }
}

.cs_product_style_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: min(290px, 100%);

  .cs_product_info {
    margin-top: auto;
  }
}

.cs_product_style_4 {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 0px 40px 40px;

  .cs_shape {
    bottom: 0;
    left: 0;
    img {
      width: 100%;
    }
  }
}

.cs_product_style_5 {
  .cs_product_thumbnail {
    overflow: hidden;
    display: block;
    img {
      width: 100%;
      transition: all 0.5s ease;
    }
  }
  &:hover {
    .cs_product_thumbnail {
      img {
        transform: scale(1.05);
      }
    }
  }
}

.cs_product_wrapper_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: min(100%, 1670px);
  margin: 0 auto;

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
}

.cs_product_wrapper_2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;

  .cs_product_banner {
    grid-column: auto / span 2;

    .cs_banner_info {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      padding: 88px 30px;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }

  @media (max-width: 1200px) {
    .cs_product_banner {
      .cs_banner_info {
        padding: 40px 15px;
      }
    }
  }
  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);

    .cs_product_style_5 {
      width: min(312px, 100%);
      margin: 0 auto;
    }

    .cs_product_banner {
      grid-column: auto / span 1;
    }
  }
}
