.cs_video_block_style_1 {
  padding-top: 290px;
  padding-bottom: 178px;

  .cs_video_thumbnail {
    margin-left: 46%;
  }

  .cs_player_btn {
    position: relative;
    transition: all 0.3s ease;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 111px;
      height: 111px;
      border: 1px solid #474646;
      border-radius: 50%;
    }

    &::after {
      animation: rotateCircle 3s infinite;
    }
    &::before {
      animation: rotateCircle2 3s infinite;
      // // animation-delay: 1.5s;
      // border-color: red;
    }
  }
}

.cs_video_block_style_2 {
  .cs_video_thumbnail {
    img {
      width: 100%;
    }

    .cs_play_img {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: rotate 16s infinite;

      &:hover {
        animation-play-state: paused;
      }
    }
  }
}

@keyframes rotate {
  50% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateCircle {
  50% {
    transform: translate(3px, 6px);
  }
}
@keyframes rotateCircle2 {
  50% {
    transform: translate(-3px, -6px);
  }
}
