/*==============================================================
  22. Video_block
================================================================*/
.cs_video_block_style_1 {
  padding: 290px 15px 178px;

  .cs_video_block_in {
    padding-left: 46%;
  }

  .cs_player_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 111px;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      border: 1px solid #474646;
      transition: all 0.3s ease;
    }

    &::after {
      animation: rotateCircle 3s infinite;
    }

    &::before {
      animation: rotateCircle2 3s infinite;
    }

    &:hover {

      &::after,
      &::before {
        animation-play-state: paused;
        border-color: var(--white-color);
      }
    }
  }

  @media (max-width: 1199px) {
    padding: 80px 15px;
  }

  @media (max-width: 991px) {
    .cs_video_block_in {
      padding-left: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    .cs_video_block_in {
      padding-left: 24%;
    }
  }

  @media (max-width: 575px) {
    .cs_video_block_in {
      padding-left: 15%;
    }
  }

  @media (max-width: 475px) {
    .cs_video_block_in {
      padding-left: 0;
    }
  }
}

.cs_video_block_style_2 {
  .cs_video_thumbnail {
    img {
      width: 100%;
    }

    .cs_play_img {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: rotate 16s infinite;

      &:hover {
        animation-play-state: paused;
      }
    }
  }
}

@keyframes rotate {
  50% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateCircle {
  50% {
    transform: translate(3px, 6px);
  }
}

@keyframes rotateCircle2 {
  50% {
    transform: translate(-3px, -6px);
  }
}